[2019-09-14 07:04] Hazhzeng opened #19 "set WEBSITE_RUN_FROM_PACKAGE = 1 after zipdeploy"

[2019-09-17 18:40] #19 closed, assigned to nobody

[2019-10-01 20:07] Hazhzeng opened #21 "Use publish profile credential for functions-action"
Currently, we are relying on Azure RBAC for authentication, but this requires the user to have owner role in their subscription scope.

We want to allow the customer to use publish profile's credential for publishing the function app, and this publish profile's credential is only accepted by api/zipdeploy endpoint.

But previously, there is no public api/zipdeploy endpoint for Linux Consumption fu

[2019-10-01 20:08] Hazhzeng commented on #21
**RE: Introducing Azure Functions and GitHub Actions integration**

[2019-10-03 00:31] Hazhzeng commented on #21
This issue is fixed in v1.1.0

[2019-10-03 00:31] #21 closed

[2019-10-03 23:33] Hazhzeng opened #22 "Make an ARM call to site/sourcecontrols/search"
When finishing functions-action, make a request to site/sourcecontrols/search

[2019-10-04 17:31] ahmedelnably commented on #22
I don't think this is the actions responsibility to call that endpoint.
This should be done at the clients level, especially that the action won't have sufficient permissions to do the call

[2019-10-31 22:46] #22 closed

[2019-10-31 22:47] Hazhzeng opened #23 "Disable Remote Build on Linux Consumption plan"
Ensure the remote build is disabled when publishing to Linux Consumption.

[2019-11-30 00:10] screendriver opened #24 "How to set NODE_ENV to production?"
I want to deploy a [GraphQL Apollo server](https://www.apollographql.com) as an Azure function. Therefore I'm using [apollo-server-azure-functions](https://github.com/apollographql/apollo-server/tree/master/packages/apollo-server-azure-functions). Unfortunately you can open the GraphQL Playground in my deployed Azure function.

When `NODE_ENV` is set to `production`, GraphQL Playground (as well as

[2019-12-03 00:44] Hazhzeng commented on #23
Resolved by https://github.com/Azure/functions-action/pull/20

[2019-12-03 00:44] #23 closed

[2019-12-03 03:47] Hazhzeng opened #25 "Action continues when appname-slotname mismatches SCM credentials"
The function app will still be deployed to production when using SCM credentials even if the slot-name is set. Due to the limitation of the SCM credentials, the GitHub Action only have access to 1 site (either production or slot).
[code]
There's a way to mitigate this, that is to add a dash with slotname in the app-name, and use SCM_CREDENTIALS of the slot for deployment.
[code]

[2019-12-03 18:35] Hazhzeng commented on #25
Discussed with @ahmedelnably, we will honor the endpoint in SCM_CREDENTIALS when publishing to a slot.
If the endpoint in SCM_CREDENTIALS does not match **appname-slotname**, we will throw a warning message.

[2019-12-03 18:50] ahmedelnably commented on #25
Actually I'd prefer if we through an error in the case of a mismatch

[2019-12-03 18:52] Hazhzeng commented on #25
currently, the action will honor the endpoint in SCM_CREDENTIALS when publishing (slot/production).

As mentioned above, we should error out if the user provides a mismatched **appname-slotname**

[2019-12-10 21:33] ahmedelnably commented on #24
This action doesn't support setting app settings or environment variables
You will need to set these up using the Azure Portal or other management tools

[2019-12-10 21:33] #24 closed

[2019-12-12 07:33] mathiasmaerker opened #26 "Http Status 503 when deploying function app"
When I try to deploy a function app I does not work properly. I encounter a 503 Status which will be retried for a very log time:

[code]

when I stop the function app and the retrigger the github workflow the app gets deployed perfectly:

[code]
Therefore it is not really clear to me what is happening and why I only can deploy when the function app is stopped.
Github Workflow is:

[code]

[2019-12-30 19:55] Hazhzeng commented on #26
Thanks for reporting this and sorry for the late reply.
There was an issue on the Linux Python function app service during the time of deployment.
If you're still seeing this issue, please let me know.

[2019-12-30 19:55] #26 closed

[2019-12-31 00:09] Hazhzeng commented on #25
This is fixed in v1.1.3 release.

[2019-12-31 00:09] #25 closed

[2020-02-05 22:09] Hazhzeng opened #28 "Functions templates should support Python 3.7 and Python 3.8"
Python 3.7 and Python 3.8

[2020-02-05 22:10] Hazhzeng commented on #28
Templates are missing, also the templates are not parameterized

[2020-02-14 09:10] benc-uk commented on #28
I think this is the wrong repo, if you're creating a function project from the command line I expect you'll get more help here https://github.com/Azure/azure-functions-core-tools

[2020-02-16 10:50] magyarb opened #29 "Extensions missing from docs"
I've tried to use the example yml file, but the deployed app did not start on azure. Inspecting the differences between the zip deployed by this action, and the zip deployed by the vscode azure functions extension, there was one difference. The bin and obj folders were missing.

The doc should include extension installation before deployment. The bin and obj folders are in the .gitignore by defaul

[2020-02-18 05:44] Hazhzeng commented on #29
We should not use the `dotnet` command to resolve the extensions any more, since extension bundle is now supported in host.json.
[code]

This part is already documented in https://github.com/Azure/functions-action#create-azure-function-app-and-deploy-using-github-actions-rbac

For more information, please check https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#exte

[2020-02-18 05:44] #29 closed

[2020-04-09 23:02] andycmaj commented on #26
i still see this behavior with Node.js functions as well.
I need to stop the slot before deploying to it, otherwise the function action hangs forever

here's an example run https://github.com/andycmaj/typescript-azure-functions/runs/575127010?check_suite_focus=true

[2020-04-11 18:13] mikedouglasdev opened #31 "Action runs indefinitely on step Waiting for function app to spin up after app settings change"
Hi,  I'm trying to use the Functions Action and it will run indefinitely on this step.  Here is the YAML.
[code]
Thanks,
Mike

[2020-04-12 02:43] mikedouglasdev commented on #31
I'm not sure what change fixed it, but I followed the sample and got it working.
https://github.com/Azure/actions-workflow-samples/blob/master/FunctionApp/linux-dotnet-functionapp-on-azure.yml

[code]

[2020-04-12 02:43] #31 closed

[2020-04-15 01:12] #28 closed

[2020-04-16 19:12] chandan-g-bhagat commented on #26
I also faced the same issue on .net functions. I stopped the slot and deployed it and it got deployed again. Any Idea how to make it work without stopping the azure function?

[2020-05-08 07:56] Scooletz opened #33 "Provide "remove additional files at destination""
After going through documentations I found no information about it, so I'm raising this issue.

`Remove additional files at destination` as in https://github.com/Azure/Azure-Functions/issues/564 is not available as a publish option.

[2020-05-26 07:50] michal-halenka-datasentics opened #34 "Linux ElasticPremium plan is not yet supported"
The workflow working for Functions Consumption plan does not work for Functions Premium plan.

Github Action step:
[code]

Result:

[code]

[2020-05-27 16:57] edouardr commented on #34
Hi,

I also have a Linux Function App running on Premium plan and managed to deployed successfully.

Below is my setup:

- I am not using RBAC Credentials but rather the publish profile
[code]

- Also, I needed to add the setting `WEBSITE_RUN_FROM_PACKAGE` with the value set to `1` in the configuration of my Function App

[2020-05-28 07:50] edouardr commented on #34
To add to my previous comment, deployment was successful, however I can't see any function listed. It appears package was deployed but function app is not working as expected. Any idea?

[2020-06-11 12:18] Duchynko commented on #34
I'm experiencing a similar problem after upgrading from the Dynamic Y1 to the Premium P1v2 tier. The deployment seems to be successful but I can't see any function listed, neither a new blob in my Storage Account.

Initially, I set the `WEBSITE_RUN_FROM_PACKAGE` to an empty string (`""`).

This is my setup and I'm using RBAC.
[code]

[2020-06-11 12:43] Duchynko commented on #34
And I can confirm that after switching back to the `Dynamic Y1` tier, everything works as expected.

[2020-06-11 13:18] edouardr commented on #34
I also can confirm that after switching to a Windows Premium plan it works as expected. So definitely, it seems deploying to a Linux Premium plan isn't supported.

Couldn't find anything in the documentation about the support of it.

[2020-06-11 14:43] Duchynko commented on #34
There's also a difference when deploying to `Y1` and `P2v2` functions. Seems like P2v2 doesn't use `WEBSITE_RUN_FROM_PACKAGE`.

Y1
[code]

while P2v2
[code]

Is there any way to force `WEBSITE_RUN_FROM_PACKAGE`?

[2020-06-11 15:38] Duchynko opened #35 "ZipDeploy doesn't seem to work"
I'm experiencing a problem after upgrading from Dynamic Y1 to Premium P1v2 tier. Deployment seems to finish successfully but I can't see a function being deployed (listed in a Functions tab).

This is my setup - I'm using RBAC (also tested with SCM, but no difference)
[code]

Output
[code]

https://github.com/Azure/functions-action/blob/833a443664c0b0d77aeeb733c60530e4273d746e/src/handlers/content

[2020-06-24 20:41] petyunchik opened #36 "Respect .funcignore file rules"
Patterns of `.funcignore` file are ignored during deployment and everything is included under package folder.
Would be nice to exclude files in accordance to `.funcignore` rules as it's implemented in [Azure Functions Core Tools](https://github.com/Azure/azure-functions-core-tools)

[2020-07-09 09:54] Duchynko commented on #35
Closing this issue as I can't reproduce the problem anymore

[2020-07-09 09:54] #35 closed

[2020-07-22 17:24] petyunchik commented on #36
If someone looking for workaround try this:

[code]

It will create and deploy package using [Azure Functions Core Tools](https://github.com/Azure/azure-functions-core-tools), which respects rules from `.funcignore`

[2020-08-18 00:04] Hazhzeng commented on #34
Thanks for reporting this @michal-halenka-datasentics.
I amended the GitHub action and release the new version v1.1.5 today.
Feel free to reopen this thread if the issue still exists.

[2020-08-18 00:04] #34 closed

[2020-08-20 13:47] AmrutaKawade commented on #33
Remove additional files at destination option is available in msdeploy. For function action we use kudu zip deploy method for deployment. as per kudu [documentation](https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url)

but i guess this is not happening as we have received similar issue.
Duplicate of #https://github.com/Azure/webapps-deploy/issues/20

there is open issue on k

[2020-08-24 10:37] AmrutaKawade commented on #33
currently we are unable to repro this? can you provide repro steps

[2020-09-08 17:12] Scooletz commented on #33
Thank you for the response @AmrutaKawade I'm aware of the kudu zip deploy, but I fail to find it in the documentation for this actions provided on the action page https://github.com/marketplace/actions/azure-functions-action

[2020-09-09 05:57] 20shivangi commented on #33
@N-Usha Please check this issue. Some things are missing in documentation.

[2020-09-18 05:49] N-Usha commented on #33
I added this detail to the documentation. Closing this issue. Thanks!

[2020-09-18 05:49] #33 closed

[2020-09-18 08:38] Scooletz commented on #33
Hey @N-Usha Could you provide a link to a PR for this change? It'd be great if one could follow the link and find the difference.

[2020-09-18 08:42] Scooletz commented on #33
@AmrutaKawade According to the updated doc

so I think that your comment https://github.com/Azure/functions-action/issues/33#issuecomment-677675018 might not be applicable. As far as I see it, it makes this issue valid again, because it intent was not to have a documentation updated, but rather address the lack of functionality.

[2020-09-22 02:01] jync opened #39 "Unable to deploy a linux typescript functionapp"
Not entirely sure if this is where I should write the issue. Technically  not an issue of the action, but perhaps an underlying azure platform issue.

When I build and deploy my typescript functionapp, the deploy succeeds, but the function app is totally messed up. Here's what I've found.

1. Github action logs indicate deployment was successful:

[code]

2. When I navigate to the function app and

[2020-09-22 11:18] AmrutaKawade commented on #39
are you using consumption plan?

[2020-09-23 04:07] jync commented on #39
Yes...

[2020-09-26 07:38] AmrutaKawade commented on #39
You can check deployed files from Kudu Portal (Development Tools -> Advance Tools -> Go). On kudu portal under Tools -> Zip Push Deploy. You can view all the files

[2020-10-05 20:30] Herlix commented on #39
I'm having the same problem. What I'm seeing is that I get WEBSITE_RUN_FROM_PACKAGE set to a URL when deploying with VScode+azure addons and the functions is there. This setup for github actions does not work.
Yes I'm on consumption plan, linux app service.

[2020-10-05 23:19] timheuer opened #42 "set-env deprecation message"
My workflow is now showing me warnings regarding the deprecation of `set-env` https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/.  Need to upgrade to latest core toolkit
![image](https://user-images.githubusercontent.com/4821/95141645-97b05700-0726-11eb-88db-24b40cfceba3.png)

[2020-10-07 16:42] cocallaw commented on #42
Also receiving this warning when deploying .net core function

[2020-10-08 13:46] AmrutaKawade commented on #42
PR is merged. You can use v1 tag

[2020-10-08 13:46] #42 closed

[2020-10-09 15:06] cocallaw commented on #42
@AmrutaKawade can confirm that notifications are no longer present when using the following -
 `Azure/functions-action@v1.1.6`
`Azure/functions-action@v1`

[2020-10-26 03:37] shibayan opened #45 "Change the name of the action to fit the purpose"
It's hard to understand this as an Action that deploys to Azure Functions by its current name. In fact, I didn't understand what Action does.

I think a name like `Azure/functions-deploy` would be more appropriate for the real world.

[2020-11-02 07:32] aksm-ms commented on #45
@N-Usha can you please take a look at it?

[2020-11-02 07:38] N-Usha commented on #45
Thanks @shibayan.. Fair feedback.. but renaming the action now could break the existing set of users and their workflows... Hence we'll consider in future if we could rename this in future with least disruption to developers.

[2020-11-02 07:38] #45 closed

[2020-11-02 08:49] mathiasmaerker commented on #39
@AmrutaKawade I have the same issue and Kudu is not available for LInux and Consumption Plans. Any other way to check the uploaded package?

Regards
Mathias

[2020-11-13 14:27] MohdmM01 opened #47 "Seeing `set-env` error while running my workflow with the latest version of functions-action."
I am seeing this error message while running my workflow using the latest version of this action:

Error: The `set-env` command is deprecated and will be disabled on November 16th. Please upgrade to using Environment Files.

When are the new version going to be released to fix it? It seems that the action will be deprecated next week,

[2020-11-15 05:46] xl1 opened #48 "Unable to deploy function app with RBAC"
I had trouble deploying a function app using a service principal. The latest `Azure/functions-action@v1` seems to always use SCM credentials, even if no publish profile is specified.

Logs:
[code]

I think this `creds` was changed to a non-null value recently
https://github.com/Azure/functions-action/blob/31d8bb80f65baebccb7de71a651962769aefccd9/src/handlers/parameterValidator.ts#L58-L61
and then

[2020-11-15 06:59] plamber commented on #48
Hello,
experience a similar issue when specifying the slot-name parameter. I am getting following error message

![image](https://user-images.githubusercontent.com/18241305/99178907-72950800-2718-11eb-9d60-d572720cc160.png)

The suggestion of @xl1 of using Azure/functions-action@v1.1.6 seems to be a viable workaround for now.

br,
Patrick

[2020-11-17 06:57] aksm-ms commented on #47
@MohdmM01 Are you facing this issue while using azure/functions-action@v1? Can you please share the workflow used?

[2020-11-17 09:58] nikkh commented on #47
I have a couple of workflows that use azure/functions-action@v1 that have stopped working in the last day or so - and I was just in the process of raising a question on stack overflow, when I saw this.  i do recall mention of set-env in the logs a few days ago but I was focusing on something else so didn't follow-up.

I have a number of applications that use this action, and as it happens they hav

[2020-11-17 10:19] nikkh opened #49 "All my function apps have stopped deploying since 16th November"
I have a couple of workflows that use azure/functions-action@v1 that have stopped working in the last day or so i do recall mention of set-env deprecation in the logs a few days ago but I was focusing on something else so didn't follow-up.

I have a number of applications that use this action, and as it happens they have all stopped working overnight. I suspect they may be related to this. There h

[2020-11-17 10:20] nikkh commented on #49
I spoke with one of the GitHub team and we agreed although not directly related to set-env it may be one of the dependencies uses it and that is causing this error?

[2020-11-17 10:22] aksm-ms commented on #47
Had a call with @nikkh and tried to reproduce the issue. we did not face the error set-env command deprecated.

[2020-11-17 10:22] aksm-ms commented on #47
@MohdmM01 please confirm if you are still facing the issue

[2020-11-17 11:44] aksm-ms commented on #49
@nikkh node module upgrade to resolve set-env issue was done in 1.1.6 and azure/functions@v1.1.6 is working fine. we will look into the issue in v1

[2020-11-17 11:45] aksm-ms commented on #49
@Hazhzeng can you please take a look at this issue? workflows with v1 which points to v1.1.7 are failing.

[2020-11-17 18:36] Hazhzeng commented on #49
Looking into it now

[2020-11-17 18:41] Hazhzeng commented on #49
While I'm investigating and making a fix, @nikkh can pin back to v1.1.6 and see if it mitigates this issue.

[2020-11-17 19:01] Hazhzeng commented on #48
Hi @xl1,

I'm looking into the issue now, please pin back to a previous version as mitigation for now (e.g. AzureFunctions@v1.1.6)

[2020-11-17 20:20] Hazhzeng commented on #49
Hi @nikkh,

I've released a new version https://github.com/Azure/functions-action/releases/tag/v1.1.8 and updated the v1 tag, please check if the GitHub action is working as expected now.

[2020-11-17 20:21] Hazhzeng commented on #48
Hi @xl1,

I've released a new version to address this issue and updated the v1 tag https://github.com/Azure/functions-action/releases/tag/v1.1.8. Please check if the issue is fixed on your side, and thanks for your detailed analysis.

[2020-11-18 06:33] xl1 commented on #48
I tested it in my repository and confirmed that the issue was fixed. Thank you for your quick response.

[2020-11-18 06:33] #48 closed

[2020-11-18 18:53] Hazhzeng commented on #49
As per https://github.com/Azure/functions-action/issues/48, this issue should be fixed now.
Feel free to reopen the ticket if this issue still exists in your case.

[2020-11-18 18:53] #49 closed

[2020-11-18 21:23] rue-kcarlton opened #50 "Releases 1.1.7 and 1.1.8 are not backwards compatible with 1.1.6"
Based on the changes introduced in v1.1.7, my release to Azure job is getting the following error:
[code]
My job is running on `windows-latest` and is currently working now that I've specifically pinned `v1.1.6` as the version of this action to run.
My job is using a publish profile as the Deployment Credential, the publish profile was generated in July and has the following format (the names and

[2020-11-19 04:31] aksm-ms commented on #47
@MohdmM01 Can you please verify if you are still facing the issue?

[2020-11-19 04:31] aksm-ms commented on #50
@Hazhzeng Can you please take a look at this?

[2020-11-19 06:00] MohdmM01 commented on #47
I am no longer seeing the issue as this action is relying on other actions that has been updated to not use set-env. Thanks for the support.

[2020-11-19 06:00] #47 closed

[2020-11-22 13:30] aaronadamsCA commented on #36
Note the workaround does work, but it has to download the entire `azure-functions-core-tools` ZIP file on every run, which is also not ideal.

This is an official Azure action that includes a Node.js template. Out of the box, it was uploading 10.6 MB and then unpacking 10,000 files, when the actual function is a few files and a few kilobytes. Honestly, that's an inexcusable gap; it's basic functio

[2020-11-26 06:33] aksm-ms commented on #50
@Hazhzeng Can you please look into this?

[2020-11-30 17:15] Hazhzeng commented on #50
Hi @rue-kcarlton, thanks for raising the issue.
Based on the error logs, seems like the Github Action fails on slot validation.
Could you share me your workflow.yml? Just want to see if the **slot-name** variable is set.

[2020-11-30 17:21] rue-kcarlton commented on #50
@Hazhzeng here's my workflow snippet as it existed during the first of the failed runs:
[code]
I think I may have figured out the issue... based on older documentation, I still have the `SCM_CREDENTIALS` secret set which includes the Azure Publish Profile, but not the `AZURE_FUNCTIONAPP_PUBLISH_PROFILE` secret.  I haven't been able to test my theory as I didn't want to release again over the holid

[2020-11-30 18:57] Hazhzeng commented on #50
Thanks @rue-kcarlton for the quick turn around. Yes, it is also worth try to change the line
[code]
back to
[code]

[2020-12-01 11:00] aksm-ms commented on #50
@rue-kcarlton Please let us know if the issue is still happening.

[2020-12-01 15:43] rue-kcarlton commented on #50
I attempted a release this morning with the change @Hazhzeng suggested (changing my `publish-profile` to the `secrets.SCM_CREDENTIALS`), but now I'm getting a new error:
[code]

[2020-12-01 23:06] Hazhzeng commented on #50
I see @rue-kcarlton, this action did a validation to ensure your publishProfile matches your slot. The line
[code]
Should be something like
[code]
instead.

This issue happens when you download your publish profile in your main app instead of from your slot. Please try setting the **SCM_CREDENTIALS** secret with the slot publish profile.
![image](https://user-images.githubusercontent.com/48038149/

[2020-12-02 09:20] komayama commented on #39
@AmrutaKawade
I'm encountering same issue too. I checked Kudu the following deployment history (https://app.scm.azurewebsites.net/api/deployments/<xxxx>) in GitHub Actions.
`Deployment '<xxxx>' not found.`

Then I tried to put two app setting in Azure Function of Azure Portal. But It's was fail to deploy
- SCM_DO_BUILD_DURING_DEPLOYMENT: true
- ENABLE_ORYX_BUILD: true

![MicrosoftTeams-image (6)](

[2020-12-02 09:42] AmrutaKawade commented on #39
Currently only run from package deploy with url is supported for function apps with Linux Consumption Plan. https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#enabling-functions-to-run-from-a-package

check storage account linked to functionapp. ( appsettings -> AzureWebJobsStorage) you can find package in container of that storage account

[2020-12-02 09:47] AmrutaKawade commented on #39
Remote Deploy is not supported currently

[2020-12-02 16:13] komayama commented on #39
@AmrutaKawade
I successfully deploy to Azure Functions using the following document and some app settings.
[Continuous delivery by using GitHub Action](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=javascript#build-the-function-app)

1. Add AppSettings in Azure Functions.

- ENABLE_ORYX_BUILD: true
- SCM_DO_BUILD_DURING_DEPLOYMENT: 1

2. Delete line ab

[2020-12-03 05:38] komayama commented on #39
@AmrutaKawade
When changed `SCM_DO_BUILD_DURING_DEPLOYMENT` value to `true` and `True`, there is only 8KiB file in scm-release of BLOB container. Maybe not build in Kudu. But change value to `1`, file size is 116 MiB.

![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/24888431/100968500-cc009200-3574-11eb-997f-ea906b6b5ec5.png)

[2020-12-03 11:26] aksm-ms commented on #50
@rue-kcarlton Are you still facing the issue?

[2020-12-03 11:36] aksm-ms commented on #36
@N-Usha Can we mark this as an enhancement?

[2020-12-04 05:22] aksm-ms commented on #50
@rue-kcarlton Can you check from your side and let me know if its working?

[2020-12-04 15:09] johnkors opened #51 "Include AppSettings"
Hi,

how do I include any Github secrets (configurations for the function) that I would like to make use of in the Function?

[2020-12-04 15:24] rue-kcarlton commented on #50
@aksm-ms Yes, I'm still having the issue... I changed my publish profile to be something like this
[code]
So the slot should match up at this point, but I'm still getting the same error:
[code]

[2020-12-06 00:47] horihiro opened #52 "How to preserve file permissions in zip package"
When deploying zip package to Linux function app on **consumption plan** using this action, the deployment was succeeded but executable permission for each file is lost.
Could you please let me know how to preserve the permissions after the deployment?

I'm trying to deploy the package including [puppeteer](https://github.com/puppeteer/puppeteer) to Linux consumption function app from [this reposi

[2020-12-06 03:22] horihiro opened #53 "How to preserve file permissions in zip package"
When deploying zip package to Linux function app on **consumption plan** using this action, the deployment was succeeded but executable permission for each file is lost.
Could you please let me know how to preserve the permissions after the deployment?

I'm trying to deploy the package including [puppeteer](https://github.com/puppeteer/puppeteer) to Linux consumption function app from [this reposi

[2020-12-06 03:23] horihiro commented on #53
Dup close

[2020-12-06 03:23] #53 closed

[2020-12-06 06:32] ma3yta opened #54 "[Feature Request] Add ability to deploy using Azure Credentials, Resource Group Name and Function Name (without publish profile)"
https://devkimchi.com/2020/11/05/deploying-azure-functions-via-github-actions-without-publish-profile/

[2020-12-06 19:49] maximivanov commented on #33
I've just confirmed the following (undesired) scenario:

1. New file added to git and branch pushed to Github
2. Deployment triggered with `functions-action` in it. Destination: Linux Premium Function App
3. I can see the new file on the Function App / App Files page in Azure Portal
4. I remove the file and commit/push
5. Deployment triggered
6. File is still visible in the App Files.

I was explo

[2020-12-06 20:02] maximivanov commented on #36
Here's a `rsync` trick I've used to exclude files listed in `.funcignore` from deployment. In your workflow file:

[code]

But I agree with @aaronadamsCA it should work out of the box without any tricks.

Rsync solution works well but unfortunately I've hit another blocker which is files do not get removed from the Azure Function App instance when they're removed in code: https://github.com/Azure/

[2020-12-07 00:57] aaronadamsCA commented on #36
@maximivanov I can confirm that with the workaround I'm using, files also don't get deleted during Kudu ZIP deploy, so I believe yours is definitely the cleaner solution until this issue is fixed.

For the other issue, I think https://github.com/projectkudu/kudu/issues/3183 is the relevant issue to follow.

[2020-12-07 04:28] N-Usha commented on #36
@Hazhzeng @anirudhgarg - Can you please confirm if this is a product limitation?

[2020-12-07 05:15] aksm-ms commented on #50
@Hazhzeng  can you please take a look at this?

[2020-12-07 22:10] Hazhzeng commented on #36
Thanks @petyunchik, I will look into this in the upcoming weeks

[2020-12-08 09:04] aksm-ms commented on #50
@Hazhzeng Can you please update this?

[2020-12-11 06:11] Hazhzeng commented on #50
@aksm-ms, could you take a look at this?

[2020-12-11 08:22] aksm-ms commented on #54
@N-usha Can you please take a look at it?

[2020-12-11 08:25] aksm-ms commented on #51
@johnkors Are you looking for instructions on how to set a secret variable and use it in a workflow?

[2020-12-11 12:23] johnkors commented on #51
No. I would like to push a config setting to Azure (a config setting for the Azure Function, like a a connectionString or similar).

[2020-12-14 18:16] panssystem commented on #52
I ran into this as well. I'm having to not use CI to make it work. Instead I'm manually deploying from Visual Studio Code.

[2020-12-15 18:08] andrejpk commented on #52
I'm having the same issue... I deploy with some executables and by the time they land in compute (Consumption/Linux) the execute file permissions (chmod +x) are gone and I can't run them.

[2020-12-15 18:17] balag0 commented on #52
As a possible mitigation could you set the following appsetting WEBSITE_MOUNT_ENABLED=1
There are some zips that do not work with the appsetting, but providing it here in case that helps.

[2020-12-15 19:00] andrejpk commented on #52
Thanks @balag0 .. this didn't work for me.

Also I tried putting some code in my Node app to run 'chmod +x' on that file but I get ENOSYS or "Function not implemented"

[2020-12-15 19:04] balag0 commented on #52
Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

Would like to get some more details about the app.

[2020-12-15 20:46] andrejpk commented on #52
(shared via side-channel)

FYI for anyone else: I did test and deploying from the Functions CLI (```func azure functionapp publish```) does work and maintains executable permissions. This a work-around but obviously doesn't take the place of the Action for automation.

[2020-12-15 21:40] loganmc10 opened #57 "Failed to fetch Kudu App Settings"
[code]

I'm sorry the repo is a private repo so I can't share the function code, but this is something was working some time ago, and now my latest builds are getting this error

[2020-12-15 21:42] balag0 commented on #57
This doesn't look related to the code. I assume retry also doesnt work? Recommend restarting the app as well in case that helps.

Please share the app name and we will investigate either way. You can use
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if needed.

[2020-12-15 21:54] #36 closed

[2020-12-15 21:56] loganmc10 commented on #57
I tried restarting the app, no luck. The name of the app is ```nocevents```

[2020-12-16 14:11] johnkors commented on #51
As far as I see, [action.yml](https://github.com/Azure/functions-action/blob/master/action.yml) does not allow for setting custom `appSettings` to be published with the function, but you do update [appSettings changes further down in the code](https://github.com/Azure/functions-action/blob/d6d2dee206803a47a889462be6308596a3a003e5/src/interfaces/IAppSettings.ts#L1). I guess my feature request is th

[2020-12-16 20:00] Hazhzeng commented on #57
Hi @balag0, This morning, another support eng contacting me the 404 issue happens in UK South (ln1). Yesterday, @divyagandhii just reminded me that the kudulite container never enabled SIGTERM eviction. Could that be an issue where our customers are seeing 404?

[2020-12-16 20:02] divyagandhii commented on #57
SIGTERM evictions are completely unrelated to client side 404s.

[2020-12-16 20:29] loganmc10 commented on #57
FWIW, my app was a consumption app. I tried completely re-creating the app, same problem. However I changed the app to a basic plan, instead of consumption based, and now it's working.

I don't know for sure if these things are related or if it was just a coincidence.

[2020-12-16 20:32] balag0 commented on #57
Thanks for the additional details. Could you provide the name of the 2nd app you created as well. I am taking a look at this now.

[2020-12-17 02:52] balag0 commented on #57
@loganmc10 Found the issue and applied a mitigation. The issue was specific to consumption sku so your experience is not surprising. Could you try again and update please.

There is a small possibility the app you are using might land on a bad worker (not all bad workers are completely drained at this time) but I expect this to be rare. Restarting the app will switch the app to a different worker

[2020-12-18 22:11] maximivanov opened #58 "Support Run from Package feature"
First, thanks for your work! This was a long awaited Github action and finally we can run both CI and CD workflows in Github 🚀.

If I understand it correctly, currently the Action uses zip deploy strategy where it's copying files to the `/home/site/wwwroot` directory on the Function App host machine. This is where the runtime will read files from.

I wonder if you're planning to add support for [R

[2020-12-18 22:40] maximivanov commented on #36
Thanks for looking into this.

I gave it a try and I can still see `.funcignore`d files deployed to the target host.

Here's the repo to reproduce: https://github.com/maximivanov/azure-functions-cd-github-actions
`respect-funcignore: true` is set on the functions-action in the workflow file.
Among others, `.funcignore` includes `.gitignore`.

Once cloud resources are provisioned (I use Terraform f

[2020-12-19 00:48] horihiro commented on #52
Thanks @balag0
`WEBSITE_MOUNT_ENABLED=1` doesn't keep chrome executable...

[2020-12-21 07:41] arjgupta commented on #57
@loganmc10 is the issue resolved for you ??

[2020-12-21 14:47] loganmc10 commented on #57
Yes, I haven't gone back to the consumption app, but everything is working for me now, and it sounds like the root issue was probably resolved

[2020-12-21 14:47] #57 closed

[2020-12-22 06:45] arjgupta commented on #51
@johnkors you can use the [Azure App service settings](https://github.com/marketplace/actions/azure-app-service-settings) to set app settings for your function app.

[2020-12-22 07:20] kaihendry opened #59 "Need func"
I've been studying https://github.com/Azure/functions-action/blob/master/action.yml and I was hoping that it would just install azure-functions-core-tools-bin's func, via a Dockerfile. But it doesn't.

If I just want func so that I perform a simple `func azure functionapp publish`, where do I go?

[2020-12-22 07:25] balag0 commented on #59
Could you provide more details on the scenario? Are you looking to run func commands from inside a Linux function app?

[2020-12-22 07:34] kaihendry commented on #59
The app is here https://github.com/kaihendry/count/tree/azure-functions

I just want to be able to do a `make deploy`

[2020-12-23 05:31] arjgupta commented on #51
@johnkors did you try using the 'Azure App service settings' action to set app settings for your function app ?

[2020-12-23 07:40] balag0 commented on #59
What error are you seeing when running
func azure functionapp publish [functionapp-name]

[2020-12-23 07:46] kaihendry commented on #59
I have it working now, so thanks https://github.com/kaihendry/count/actions?query=branch%3Aazure-functions

[2020-12-23 07:46] #59 closed

[2020-12-23 19:59] markuscodes1 commented on #59
Let's reopen the issue. I came across the same problem with my nodejs project.

I have created my project with azure function core tools. This will add a script which can be used to build for production like `yarn build:production` in my nodejs case. Under the hood this script calls among others things `func extensions install`.

I think it's a little bit confusing because the example pipelines ca

[2020-12-28 07:32] arjgupta commented on #51
@johnkors i am closing this issue. Please reopen if this is not what you were looking for.

[2020-12-28 07:32] #51 closed

[2020-12-29 11:30] AmrutaKawade commented on #52
As a workaround can you zip your file separately from action. Make sure if file permissions are intact in your zip and provide zip file as input here

[code]

Let me know if this works

[2021-01-08 10:20] ma185360 opened #61 "SCM_DO_BUILD_DURING_DEPLOYMENT is set to False leading new packages define in requirement.txt are not getting loaded"
Hi Team,

We found that if we are doing Kudo zip deployment and want to upload new  module then we need to set both SCM_DO_BUILD_DURING_DEPLOYMENT and ENABLE_ORYX_BUILD are set to true.

https://docs.microsoft.com/en-us/azure/azure-functions/recover-python-functions?tabs=manual#mitigate-modulenotfounderror

Now, when we do deployments via Github actions it sets both the variables to false automati

[2021-01-08 12:23] AmrutaKawade commented on #61
is it linux consumption app?

[2021-01-08 12:47] ma185360 commented on #61
Yes,it is.

[2021-01-13 08:02] aksm-ms commented on #50
@rue-kcarlton Are you still facing the issue? @Hazhzeng Can you please look into this? cc: @nadesu

[2021-01-13 15:41] rue-kcarlton commented on #50
@aksm-ms Yes, I'm still having this issue.  I've reverted to using v1.1.6 to keep it working.

[2021-01-13 17:58] Hazhzeng commented on #61
Hi @ma185360,
This is an expected behavior since you should resolve the Python dependencies by yourself. Please follow the template [here](https://github.com/Azure/actions-workflow-samples/blob/master/FunctionApp/linux-python-functionapp-on-azure.yml) and add the following section to install packages inside requirements.txt into your function project artifact.

[code]

[2021-01-14 11:55] ma185360 commented on #61
@Hazhzeng I have that step in my workflow. And In the O/p I can see package got installed(CFFI). Here is the output of that step:

Output:
ls -al
  echo "env.AZURE_FUNCTIONAPP_PACKAGE_PATH"
  echo './.'
  pushd './.'
  python -m pip install --upgrade pip
  pip install -r requirements.txt --target=".python_packages/lib/site-packages"
  ls -al
  popd
  shell: /bin/bash --noprofile --norc -e -o pipef

[2021-01-15 07:01] aksm-ms commented on #52
@balag0 / @horihiro Have you tried this solution? Please let me know if this is working.

[2021-01-15 07:22] horihiro commented on #52
@aksm-ms @AmrutaKawade sorry I haven't tried this yes.

Do you mean the solution is the following steps?

1. create a deployment zip package and add the zip package to the repo.
2. execute the action which deploys the zip package as @AmrutaKawade 's solution

[2021-01-15 07:30] AmrutaKawade commented on #52
@horihiro yes please follow these steps.

[2021-01-15 07:30] AmrutaKawade commented on #52
yes please follow these steps

[2021-01-15 15:42] maximivanov opened #62 ".funcignore is (still) not respected"
Recreating https://github.com/Azure/functions-action/issues/36#issuecomment-748353831 as an issue for better visibility:

I gave this action a try and I can still see `.funcignore`d files deployed to the target host.

Here's the repo to reproduce: https://github.com/maximivanov/azure-functions-cd-github-actions

`respect-funcignore: true` is set on the functions-action in the workflow file.
Among

[2021-01-15 16:17] marcd123 commented on #61
I also have an objection to this functionality. It took a long time to even discover these settings were being changed. Maybe if it were mentioned in the docs that these settings will be changed that would save people some time.

We recently setup Github actions to deploy our function app, which deploys successfully, and the new code is on the container - however it seems like old versions of the

[2021-01-15 17:06] marcd123 commented on #61
Changing ENABLE_ORYX_BUILD and SCM_DO_BUILD_DURING_DEPLOYMENT via the Github Action change the settings within our KUDU container, but not on the Azure Portal. Changing the settings from Azure portal had no effect on the KUDU container app settings (api/settings).

For anyone trying to revert their ENABLE_ORYX_BUILD and SCM_DO_BUILD_DURING_DEPLOYMENT on the KUDU container, you can use the API here

[2021-01-15 17:09] ma185360 commented on #61
Correct. I have tried this and can confirm it.

[2021-01-15 17:11] marcd123 commented on #61
@ma185360 were you ever able to get your function app deploying properly with the functions-action?

Does your code/functionality actually update when you deploy, or is just your modules that are not updating?

[2021-01-15 17:14] ma185360 commented on #61
Yes, it worked properly in beginning until i added a new module in my requirements.txt and things went wrong after that. So it's modules which are not getting updated.

[2021-01-15 17:20] marcd123 commented on #61
Very interesting.

In our case, the deployment is successful, and by viewing files in KUDU we can see python code and requirements.txt are in fact updated in the site root folder. When requesting the function though, we still get the results from old code.

I think this has something to do with WEBSITES_RUN_FROM_PACKAGE. I believe this github action actually prefers that method (at least for Linux

[2021-01-16 20:04] Renetnielsen commented on #39
Did anyone actually get this working yet?
I more or less gave up doing CD deployment of a typescript app to azure from github.

It does not have any impact on how and what i do, it just wont work.

When i deploy from VScode everything is fine.
When i use the script from https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=javascript#build-the-function-app it

[2021-01-17 01:16] horihiro commented on #52
Hmm, I cannot add zip package including `chrome` in `puppeteer` to the repo.
Because `puppeteer` is very huge  (about 400MB) , the commit was rejected.

[2021-01-19 12:43] aksm-ms commented on #62
@maximivanov Are you seeing any files from funcignore apart from ".gitignore" in the app files?

[2021-01-19 22:35] maximivanov commented on #62
@aksm-ms it seems that funcignore has no effect on files prefixed with `.` (dot).

`randomfile.txt` was ignored
`randomfile-noextension` was ignored
`.randomfile-dotprefix` was deployed (I could see it in the App Files in Azure Portal).

[2021-01-22 23:03] dastev-ms commented on #50
I had a very similar issue today that may be related.  Essentially, my app name is `MyService` and the slot name is `deployment`, and I would get the "SCM credential does not match slot-name" error message.  However, using `myservice` as the app name fixed the issue entirely.  It looks like the default publish profile to-lowers everything, but the check that it's using the correct slot doesn't to-

[2021-01-28 23:54] Hazhzeng commented on #50
Sorry for the late reply and thanks @dastev-ms for the investigation.

Hi @rue-kcarlton
This issue should be fixed now https://github.com/Azure/functions-action/blob/v1.3.1/src/handlers/parameterValidator.ts#L172-L173.

[2021-02-01 17:35] loganmc10 commented on #57
@balag0 I'm running into this again, again with a consumption app:
[code]

[2021-02-01 23:47] balag0 commented on #57
@loganmc10 Please open a new issue with details on the appname/ timestamps and tag me. Thanks
Will leave this incident closed.

[2021-02-02 22:41] #50 closed

[2021-02-10 10:24] 20shivangi commented on #61
Is this issue still being faced ?

[2021-02-10 10:30] 20shivangi commented on #62
@N-Usha Should we mark this as an enhancement?

[2021-02-10 17:31] Dhruv-1982 opened #63 "Azure Function app not removing old files after deployment using zipdeploy"
I am trying to publish my functions into azure function app but my old functions are not getting removed after deployment. My new deployment package does not contain the old functions but they are still present in wwwroot kudu directory. I am using Azure RM module and Zipdeploy to publish my package.

[2021-02-10 20:26] tgdfool2 commented on #61
Still facing the exact same issue with the following Workflow definition:
[code]

My `requirements.txt` file:
[code]

Querying the application fails with the following error:
[code]

Tried with different combinations of `ENABLE_ORYX_BUILD`, `SCM_DO_BUILD_DURING_DEPLOYMENT` and `WEBSITES_RUN_FROM_PACKAGE`... without luck until now :-(

Deploying through VSCode Extension works flawlessly...

Did som

[2021-02-10 22:26] marcd123 commented on #61
Hey @tgdfool2 I had to use this API to change the ORYX/SCM settings on our VM, changing the settings in Azure portal had no effect, see below.

Keep in mind, the functions-action will automatically change these back whenever it deploys your app, so using this API will just change the settings back so you can deploy another way.

We ended up creating a custom deploy github action. We installed the

[2021-02-11 06:37] tgdfool2 commented on #61
Thanks for your answer @marcd123.

Actually, I also tested the "manual" way by using the `func` binary as part of a GitHub Action step and I was able to deploy my function, including dependencies.

In the end, it turns out that the problem was not related to the deployment tool I used (`Azure/functions-action@v1` or `func`), but it was related to the fact that I was missing the `FUNCTIONS_WORKER_R

[2021-02-11 07:01] balag0 commented on #63
Does it refresh correctly if you retry? Please share the command you are using and the app name
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-02-11 07:48] 20shivangi commented on #61
@tgdfool2 Sorry for asking again.
From your last message, it appears that issue is being faced no more. Can you please let us know if the issue still there ?

[2021-02-11 08:09] Dhruv-1982 commented on #63
I have tried multiple deployments but it only updates files that are in the zip package. It does not remove old functions that are not in current package which was deployed previously.

I am using the below command to do the deployment
Invoke-RestMethod -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f $base64AuthInfo)} -UserAgent $userAgent -Method PUT -InFile $zipPackagePath -ContentType "mu

[2021-02-11 08:10] mathiasmaerker commented on #39
@Renetnielsen I sort of got it to work, but it's just an workaround. I let the project build remotely, not sure if that does work for your use case

[code]

[2021-02-11 11:03] 20shivangi commented on #63
This issue has already been raised on Kudu team here : https://github.com/projectkudu/kudu/issues/3183
Please have patience until it is fixed.

@sanchitmehta Can you please have a look at this issue

[2021-02-11 12:19] tgdfool2 commented on #61
Hi @20shivangi,

As mentioned in my previous answer, after having properly set the `FUNCTIONS_WORKER_RUNTIME` App Setting, I didn't face the issue anymore. Not sure if other people are in the same situation...

[2021-02-11 12:37] maximivanov commented on #39
This Github Action works for me on Linux Consumption (I believe it worked on Linux Premium as well when I tested it couple months ago).

Here's the repo: https://github.com/maximivanov/azure-functions-cd-github-actions (funny enough it's to reproduce another bug https://github.com/Azure/functions-action/issues/62). It highlights a multi-target environment deployment technique I wanted to blog abou

[2021-02-11 22:11] hardcodedvalue opened #64 "README.md spells deployment wrong"
Under the section: Using Publish Profile as Deployment Credential (recommended), deployment  is spelled wrong

[2021-02-12 07:33] tiwarishub opened #65 "Function deployment with slot and SPN as deployment credential is not working"
Hi Team, I am using azure function action and using slot name and SPN as deployment credentials. Here is my workflow
https://github.com/tiwarishub/samples/actions/runs/560242979/workflow
![image](https://user-images.githubusercontent.com/64764738/107740816-fa97a780-6d31-11eb-8972-c4a738927ef2.png)

I am getting the below error
![image](https://user-images.githubusercontent.com/64764738/107740854-0

[2021-02-12 14:02] aaronadamsCA commented on #58
Hey @maximivanov, I currently use this action to deploy Node.js function apps to Windows serverless (consumption) plans.

If you set `WEBSITE_RUN_FROM_PACKAGE=1` in the function app, and then deploy with this action, it runs from a package. My `wwwroot/` contains only `host.json`; my `data/SitePackages/` is full of ZIP files, one per deploy. My cold starts are fast, too. So it's definitely running

[2021-02-12 16:41] maximivanov commented on #58
@aaronadamsCA I will try that thanks. Still, if I use Azure Functions Core Tools, and do a `publish` on a fresh function app (not having `WEBSITE_RUN_FROM_PACKAGE` app setting), it will set the `WEBSITE_RUN_FROM_PACKAGE=url`, i.e. run from package is the default deployment method there.

Here it's not. I wish it was consistent across all the tools.

[2021-02-12 22:10] maximivanov commented on #58
Inspired by @aaronadamsCA's success, I gave it a try and here are the results. Things are definitely not as bright in the Linux land. 😅

### Linux Consumption

◉ I created a fresh Function App with `WEBSITE_RUN_FROM_PACKAGE=1` app setting.
Published the code with the Github Action. All action's steps succeeded.

**Result:** code was not deployed. There are no files in the App Files section and no

[2021-02-13 11:22] aaronadamsCA commented on #58
Oh boy. I've been waiting for a while for Linux consumption plans to finally make their way to Canada. Thanks for sharing, I would not have known about this at all! Glad I didn't get the opportunity to waste my time.

This does seem sadly representative of the state of Azure Functions as a self-serve platform. My functions are written in TypeScript, built with GitHub Actions, and deployed to Azure

[2021-02-15 05:05] 20shivangi commented on #61
@ma185360 Are you still facing this issue ?

[2021-02-15 06:01] 20shivangi commented on #64
Have fixed this with PR : https://github.com/Azure/functions-action/pull/66/files

[2021-02-15 06:01] #64 closed

[2021-02-16 06:54] 20shivangi commented on #65
@Hazhzeng @N-Usha Do we support slot deployment in function app for SPN auth?
It is not working when slot is specified and works only with Publish Profile auth. I checked the code this failure is there from start. There is no proper error message it fails in execution because of null reference.

[2021-02-18 07:07] 20shivangi commented on #65
@Hazhzeng @N-Usha Please have a look at this issue

[2021-02-19 05:37] 20shivangi commented on #61
Since there has been no response, we are closing this issue. Please feel free to reopen in case of any queries.

[2021-02-19 05:37] #61 closed

[2021-02-19 06:59] 20shivangi commented on #65
As confirmed with @Hazhzeng ,  currently we don't have any plan to support it in SPN. Since publish profile is more secure (limited priviledge), so we only implement this feature in publish profile.
Please use `Publish Profile` when using slot deployment. We will look out for more such requests to have it in our backlog. Thanks

[2021-02-19 06:59] #65 closed

[2021-03-02 20:31] ianmccaul opened #67 "'Cannot read property 'toLowerCase' of undefined' during slot deployment"
I am trying to deploy to a slot using the action. I am not using a publishing profile to deploy, but instead a service principal. Looking through the 'ParameterValidator.validateScmCredentialsSlotName' it looks like to do a slotted deployment you are requiring a profile? I am passing in a valid slot name that exists, so I am not sure why I would get this error. Help is appreciated.

[2021-03-03 05:38] AmrutaKawade commented on #67
Deploying to slot using service principal is not supported currently

Check this issue https://github.com/Azure/functions-action/issues/65

[2021-03-03 11:20] AmrutaKawade commented on #63
Closing this issue it will be tracked with corresponding kudu issue https://github.com/projectkudu/kudu/issues/3183

[2021-03-03 11:20] #63 closed

[2021-03-03 13:44] ianmccaul commented on #65
I am not sure I understand the reasoning for this. When using a non-slotted deployment it doesnt require a publishing profile. Also, when using a webapp deployment it doesnt require a profile for slotted or non-slotted deployment. Why is the case of deploying a function to a slot via a service principal so different? This proves a problem for us specifically because we create the slot from the CI/

[2021-03-17 13:50] Cherchercher opened #69 "publish-profile : should be a valid XML."
steps to reproduct:
add key value pair to Vault,
retrieve value with key in Github workflow,
run function:

- name: "Run Azure Functions Action"
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ steps.secrets.outputs.AZURE_FUNCTIONAPP_

[2021-03-24 09:14] rubengarciam commented on #39
GitHub actions fails for me too. I have tried all the options listed above but none of them seem to work.

Stopping it first before deploying as listed in Azure/functions-action#26 didn't work either.

The original GitHub Workflow created by Azure:

[code]

[2021-03-25 19:22] TimoWilhelm commented on #67
Could you please reconsider this? Not beeing able to do slot deployments using a service principal is a very frustrating.

In issue #65 you mentioned that

but we can use granular RBAC assignments to control the permissions of the deployment service principal.

Also when deploying multiple apps (e.g. one webapp and one function app) we would need to track multiple publish profiles?
Using `azure/we

[2021-03-25 19:37] dennisameling commented on #39
I also had some trouble deploying a TypeScript app on Azure Functions Linux (also on the consumption plan). What did the trick for me was to ensure that the OS of GitHub Actions (`ubuntu-latest` for Linux or `windows-latest` for Windows) equals that of Azure Functions.

I created a minimal repo based on NestJS (TypeScript) that you can have a look at - I added three commits so you can see step by

[2021-03-31 04:33] brc-dd commented on #61
From [v1.3.1](https://github.com/Azure/functions-action/releases/tag/v1.3.1) one needs to put

[code]

As suggested in release notes, your workflow configuration will look like this:

[code]

[2021-03-31 14:38] katatohuk commented on #67
Agree that would be nice to implement, missing that feature so much

[2021-03-31 15:17] crmitchelmore commented on #67
Yes, would like to see this feature also.

An error message stating the above would have saved me time debugging too.

[2021-03-31 15:44] ianmccaul commented on #67
Right... the error does not actually tell you the problem. Outside of being some arbitrary limitation.

[2021-04-04 16:14] TimoWilhelm commented on #67
It's disappointing, that this scenario is not supported and the error messages are currently very misleading (you basically have to check the code to understand what's going on) but there is a workaround:

You can use the Azure/cli@v1.0.0 action to deploy a webapp (including function apps) to a slot while using a service principal.

Here is an example:
[code]

[2021-04-05 01:01] JamieMagee opened #73 "Failed to convert dotnet-isolated to FunctionRuntimeConstant"
The new .NET 5.0 based functions report `FUNCTIONS_WORKER_RUNTIME` as `dotnet-isolated`. It looks like the `FunctionRuntimeConstant` enum needs to be updated.

https://github.com/Azure/functions-action/blob/d6d2dee206803a47a889462be6308596a3a003e5/src/constants/function_runtime.ts#L3-L11

[2021-04-06 17:28] #67 closed

[2021-04-06 17:30] #62 closed

[2021-04-06 17:38] #73 closed

[2021-04-06 18:46] Hazhzeng commented on #69
Hi @Cherchercher, your publish-profile is not a valid xml.

Please change ` steps.secrets.outputs.AZURE_FUNCTIONAPP_PUBLISH_PROFILE` to ` secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE`, and in your GitHub repo => Settings => Secrets => New repository secret => Add a "AZURE_FUNCTIONAPP_PUBLISH_PROFILE" secret with value from your publish profile.

![image](https://user-images.githubusercontent.com/4803

[2021-04-07 16:55] Hazhzeng opened #76 "Add documentation for .NET Isolated"
1. Add a new template for .NET Isolated deployment
2. Add E2E test pipeline for .NET Isolated
3. Document the languages and language versions that we support in readme.md

[2021-04-07 17:30] Hazhzeng opened #77 "Support .PublishProfile with ZipDeploy section"
The app service team slowly dropping the MSDeploy section from .publishSettings, currently causing an issue in ARC function app.
Our GitHub Action should be more resilient and able to parse the ZipDeploy section as well.
Here's an example of the new .publishSettings file:
[code]

[2021-04-24 23:47] gabrielSoudry commented on #39
Same problem here. I have tried all the options listed above but none of them seem to work.

[2021-04-25 00:00] gabrielSoudry commented on #39
Same problem as @rubengarciam, any update please ? :)

[2021-04-26 09:17] Renetnielsen commented on #39
Same as @gabrielSoudry

[2021-05-11 19:31] tig opened #79 "Failed to fetch Kudu App Settings. Internal Server Error (CODE: 500)"
*Type*: Bug

**Enter Task Name**: Azure/functions-action@v1

## Environment
- Server - Github actions

## Issue Description

My app was working for months and I recently tried to update it and got this error.

I have searched the 'net high and low and have found similar errors, but nothing that matches this. None of the suggestions in those Issues/SO posts have helped. Examples:

https://stackover

[2021-05-19 15:02] NoNameProvided opened #81 "Add support for custom handlers in Linux consumption plans"
When I am attempting to deploy using this Action the deployment always fails. The same build can be deployed with the `func azure functionapp publish` command without any issue.

There are two different errors based on whether the `WEBSITE_RUN_FROM_PACKAGE` configuration option is set or not. We are using a Linux consumption plan, so when set it points to a blob storage containing the latest deplo

[2021-05-24 14:17] stefanstranger opened #84 "Typo in output of Github Action for Azure Functions"
I noticed a typo in the Github Action output for the Azure Functions.

![image](https://user-images.githubusercontent.com/2125385/119361089-8fa02a00-bcab-11eb-97ee-5ad48d9d7d2e.png)

Regards,
Stefan Stranger [MSFT]

[2021-05-24 17:10] mortezaadi commented on #76
Hey is there any progress? I was trying to use .Net 5 in my pipeline but it didn't work? Is there any documentation available?

[2021-05-25 07:05] tomkerkhove commented on #84
The fix was just a PR away! #85

[2021-05-25 19:23] #84 closed

[2021-05-26 21:34] bmc-at-hfi opened #86 "Failed to check app setting propagation for SCM_DO_BUILD_DURING_DEPLOYMENT and ENABLE_ORYX_BUILD."
First observed yesterday, our deployment action is having some issues. We're using node.js, our action is based on [this template](https://github.com/Azure/actions-workflow-samples/blob/master/FunctionApp/linux-node.js-functionapp-on-azure.yml).

After `Client.updateAppSettingViaKudu` is called and returns 204, we get stuck in a timeout / retry cycle for about 3 minutes. See Github job log below.

[2021-05-28 02:13] flcdrg commented on #86
Seeing the same issue with a .NET Core 3.1 Function deployment. Wasn't seeing this a couple of weeks ago.

[2021-05-28 03:13] JordanBurns27 commented on #86
Also seeing the same issues on .NET 5.0 Function deploy.  I attempted most of the changes you did, I even changed those settings in Azure to see if it would read them from the function and skip setting them but no luck. It's adding a ton of time to our deploys.

[2021-05-30 13:02] keesschollaart81 commented on #86
Same here with a Python using [this template](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=python#deploy-the-function-app) and a brand new Azure Functions with Python runtime 3.8 (although other versions behave similar)

[2021-06-02 14:28] kanika1894 commented on #81
@NoNameProvided Can you please run the workflow in the debug mode (https://docs.github.com/en/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging) and mention the error that you are getting?

[2021-06-04 13:05] crgarcia12 commented on #86
+1 - I can repro if I create the pipeline from the Azure Portal directly

[2021-06-08 15:04] brianrodecap commented on #86
+1 - Also experiencing the same issue.  Function deployment duration has slowed from 1 minute to 8 - 10 minutes.

[2021-06-08 16:48] tmakowka-tc commented on #86
+1 - We are also experiencing this issue, switching back to v1.3.2 fixes it.

[2021-06-08 17:57] Hazhzeng commented on #86
This seems like a backend issue where the Kudu lite container is not able to pick up the app settings change in time.
I will reduce the retry count to 3 in the next release. Thanks for reporting the bug.

[2021-06-08 18:27] mikesprague commented on #86
Not to sound negative bc I appreciate the issue getting attention but that doesn't sounds like it's fixing the actual problem. And all of us who are having the issue will still see increased build times (just not quite as bad, bc of 3 vs 10 retries).

Speaking only for myself, I would like to see the core issue get resolved or to have these attempts to apply settings removed altogether if they're

[2021-06-08 18:59] bmc-at-hfi commented on #86
Reducing the retry count will treat the symptom (delay in function app deployment) but not the root cause (settings not syncing with kudu container).

It is never successfully syncing these settings with the Kudu container, unless I revert to v1.3.2 as suggested above.

Thank you for looking into this!

[2021-06-14 20:08] IronSean commented on #86
I opened #90 as a bandage solution to limit the retries while a proper solution is figured out.

[2021-06-15 00:15] dbanty commented on #81
I'm getting a similar error, though I'm not sure it's exactly the same. I have a Rust-based function created mostly by following the official tutorial. I'm trying to add CD via this action. I ran the action with debug as you requested above though I'm not sure what all is safe to share (or useful).

<details>
<summary>Error messages</summary>
[code]
</details>

<details>
<summary>Debug lines right

[2021-06-17 01:35] Norrch2 commented on #86
Can confirm that I am experiencing this issue as well. Azure Functions 3.1 new GitHub workflow.

[2021-06-17 15:12] maksimetsa commented on #54
@github-actions thanks Cap

[2021-06-21 19:45] balag0 commented on #81
@dbanty If you have the WEBSITE_RUN_FROM_PACKAGE app setting configured in your app, could you try removing / renaming it.

Zipdeploy will overwrite the value for that appsetting, so the failing check could be to make sure you are ok losing the url configured in that appsetting.

[2021-06-23 06:55] kanika1894 commented on #69
Hoping this got resoloved. Feel free to open in case of any queries.

[2021-06-23 06:55] #69 closed

[2021-06-23 17:01] PMillsArch commented on #79
I am getting a similar problem, but a 403. I'm wondering if this is due to a private endpoint?

[2021-06-25 09:12] vicvarros commented on #81
@NoNameProvided I have no issues deploying my code on Linux consumption plans using this app settings:

`
 {
              "name": "AzureWebJobsStorage",
              "value": ...
            },
            {
              "name": "WEBSITE_NODE_DEFAULT_VERSION",
              "value": "~14"
            },
            {
              "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
              "value":

[2021-06-25 17:48] lloydjatkinson commented on #86
[code]

This is what I get as of today. It looks like a complete failure of the deployment process.

[2021-06-26 20:59] tomkerkhove commented on #86
Reverting to v1.3.2 fixed it for me.

[2021-07-01 02:56] flcdrg opened #91 "app-url always returns http:// URL"
Even if the function has httpsOnly true, app-url still gets set to http://, not https://

I'm making use of app-url together with GitHub Environments deployments, so would be nice if app-url output value was correct and used https://

[2021-07-01 03:01] flcdrg commented on #91
On further investigation of the code, looks like this is derived from the values supplied by the publish profile values.

In my case the https setting was changed after I'd copied the publish profile settings. Using the latest publish profile settings looks like it's solved this.

[2021-07-01 03:01] #91 closed

[2021-07-01 23:36] maksimetsa commented on #54
@github-actions thanks Cap

[2021-07-08 08:13] PhakornKiong commented on #86
Reverting to v1.3.2 fixed it for me as well.

Was using v1.0.0 and v1.4.0.

[2021-07-11 10:50] kulov commented on #86
Reverting to v1.3.2 of the action fixed the error for me also.
`Failed to check app setting propagation for SCM_DO_BUILD_DURING_DEPLOYMENT and ENABLE_ORYX_BUILD`

[2021-07-12 14:28] petsasj commented on #76
Is there any update to this? Looking for an example for out-of-process function configuration.

Using the current documentation, the workflow fails.

[2021-07-15 18:56] ss185427 commented on #58
I'm facing the same issue after creating an Azure Function in Go using instructions from [here](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other). Deployment works fine on a Linux Consumption plan with Azure Functions Core Tools (via Azure Functions VS Code extension).
Deployment fails from GitHub Actions with as WEBSITE_RUN_FROM_PACKAGE is set to URL. If

[2021-07-15 19:27] ss185427 commented on #86
Seeing the same issue for ENABLE_ORYX_BUILD and SCM_DO_BUILD_DURING_DEPLOYMENT -
[code]

[2021-07-16 09:14] maksimetsa commented on #54
@github-actions thanks Cap

[2021-07-16 18:35] ss185427 commented on #81
Steps to reproduce -

- Create an Azure Function in Go using instructions from [here](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other).
- Deploy on a **Linux Consumption plan** with Azure Functions Core Tools (via Azure Functions VS Code extension).
- Deployment works fine and Function also runs as expected at this point.

- Setup deployment using GitHub

[2021-07-22 07:51] LoicH opened #92 "Unable to deploy Python to a Linux Premium App"
# Our workflow
I'm using Github actions to automatically deploy my production and staging Function Apps. My team is using Gitlab Flow, so we have a "master" branch (kind of a "dev" branch), which is then pushed to a "preproduction" branch, which is pushed to a "production" branch.

# My actions
I set up two actions, to deploy to my function apps every time there is a push on the "preproduction" or

[2021-07-26 07:42] BALAGA-GAYATRI commented on #92
@Hazhzeng Do you have any idea about this?

[2021-07-26 09:34] NickH-KiwiAirways opened #93 "Support UPPER_CASE keys for all settings"
In the AppSettings, all settings use upper case names other than `AzureWebJobsStorage`.

This causes an issue when using Doppler or other secret/env managers, as they only support upper case keys for cross-environment support.

My request is that AzureWebJobsStorage is updated to use upper case for the setting lookup, or to make the comparisons case-insensitive.

https://github.com/Azure/functions

[2021-07-29 01:12] damienpontifex opened #94 "Support for functions that utilise identity auth to storage"
As documented at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-with-an-identity we can now use the settings `AzureWebJobsStorage__accountName` or `AzureWebJobsStorage__serviceUri` and the function managed identity to connect to storage (this is instead of `AzureWebJobsStorage` connection string)

There are a few warnings/assumptions in the co

[2021-07-29 21:11] kpm-at-hfi commented on #86
Should this issue be "idle"? I think we're just waiting around to see it get fixed.

[2021-07-30 12:33] maksimetsa commented on #54
@github-actions thanks Cap

[2021-08-04 08:23] OnlyOnePro commented on #86
Yes, a lot of time and no response whatsoever and it is even properly identified by the repo maintainers. This is a bug that considerably slows downs release times on our Prod/Dev instances for each Azure Function that we have, and it is a lot of time to be wasting on a CI/CD pipeline.

[2021-08-06 03:15] morrisonbrett commented on #86
Just discovered this today too. Deploying Azure Functions. 19 retries and then succeeds. Slows down deploy time dramatically.

[2021-08-06 11:47] mattchatterley commented on #86
Also getting the same - action completes successfully, however spends ages retrying over the two variables.

[2021-08-06 14:12] StefanReininger commented on #52
We ran into the same problem here. Any news on that issue?

[2021-08-10 05:22] mdhom commented on #86
Same here:
[code]
after that:
[code]
and finally:
[code]

[2021-08-12 12:34] gabrielgarciagava commented on #86
On my case, I do the builds using ubuntu-latest.

[code]

3 days ago my deployments stopped working. The github actions logs were saying that the deployment was succesful, but my functions were not really deployed.

[code]

Rolling back to v1.3.2 fixed the issue to me.

I assume that my case was actually being a failure because I need these 2 settings to be true since I'm building on ubuntu instea

[2021-08-18 12:30] JasonKleban commented on #33
So @N-Usha, how do we delete old functions?

The Azure portal shows

![image](https://user-images.githubusercontent.com/17498172/129897896-7f67e326-2aff-4874-a5d0-a65e1c53d359.png)

And there's no obvious way to get a yaml deployment with `azure/azure-functions` to clear them out?  And by not clearing them out, I see a bunch of ERROR noise in my logs at app startup regarding bad bindings for funct

[2021-08-19 18:07] ldeluigi opened #98 "Unable to deploy function with Publish profile"
Kudu version 94.30524.5227.0

![image](https://user-images.githubusercontent.com/44567586/130121362-9012858a-2760-4dbb-9b9f-6080e600d49b.png)

[2021-08-24 00:41] horihiro commented on #52
@aksm-ms @AmrutaKawade
Any update on this?

As [this comment](https://github.com/Azure/functions-action/issues/52#issuecomment-761709954), I cannot add the zip package to the git repository directly because of the size.

Could you please let me know if any information is needed?

[2021-08-24 16:29] aaronadamsCA opened #100 "Action outage?"
At some point between 15:42 and 16:05 UTC, all attempts to run this action began throwing an error immediately on invocation:

[code]

[2021-08-24 17:33] ryancole commented on #100
I am also seeing this issue.

[2021-08-24 17:46] patelchandni commented on #100
It is fixed in latest v1 (v1.4.2)

[2021-08-24 17:46] #100 closed

[2021-08-25 15:31] ValerioFG opened #101 "Azure Function actions are running longer than usual"
Hello,
I've noticed that the step "Run Azure function action" is taking more time than usual.

![image](https://user-images.githubusercontent.com/68110067/130819734-525205d6-b078-46f6-b035-f51c4d61e07e.png)

Since I use GitHub actions with Azure Functions it usually took 5 minutes or less to run the action, it's a couple of week that it's running very slow sometimes, do you know if anything change

[2021-08-25 16:22] anirudhgarg commented on #86
Hello folks - thanks for reporting it. we are looking into this.

[2021-08-25 23:16] patelchandni opened #104 "ZipDeploy github action creates two Deployment IDs"
One deployment ID contains the manifest file and log, whereas the another one is created while updated the status.
This can result in false positives while deployment.

Possible mitigation is to set WEBSITE_RUN_FROM_PACKAGE = 1 in configurations.

https://github.com/Azure/functions-action/blob/12a286e68fb1250baf1657fef7796d6690143496/src/publishers/zipDeploy.ts#L35

[2021-08-30 15:27] amilochau commented on #94
Hi,

This is the last place where I still need infra secrets for the functions I deploy, from the Bicep templates to the application code.
That would be a great help to fully use Managed Identity!

[2021-08-31 12:52] ldeluigi commented on #98
I think there's an issue with the publish profile but I can't tell from the error

[2021-08-31 13:06] ldeluigi commented on #98
The issue was a wrong `package` path...

[2021-08-31 13:06] #98 closed

[2021-09-08 14:13] johnkors opened #105 ".NET 6 and v4 tooling"
Hi,

According to [this page](https://github.com/Azure/Azure-Functions/wiki/V4-early-preview#net-60-isolated), one should be able to test Azure Functions on .NET 6 running in dotnet-isolated mode.

They mention publishing using the following command
[code]

Is it possible to provide that last parameter `--dotnet-version 6.0` somehow using this GH action?

[2021-09-09 09:49] erwinsmit opened #106 "Possible to have write access using zip deploy?"
I'm currently trying to get a NextJS project working on azure functions. NextJS requires write access to the .next directory.  But as far as I can see using the "Azure/functions-action@v1" deploy command in the workflow yml only supports zip deploy.

When using zip deploy the "RUN_FROM_PACKAGE" app settings needs to be set, that disables write accesss on the directories.

Am I right in thinking th

[2021-09-09 17:25] bruno-ferreira-rma commented on #81
I'm having the same issue from the default github action added from azure portal . Any news on a fix for this?

[2021-09-09 18:18] balag0 commented on #81
Looks like all these apps are using custom handlers. updated the title to reflect that to avoid confusion.

[2021-09-13 02:53] SteveWinward commented on #76
I just put together a sample repo for a .NET 5 isolated process Azure Function app.  I created two different YAML files with GitHub Actions.  One that uses this Azure Function GitHub Action.  Another that uses the Azure Function Core Tools as part of the workflow.

The biggest issue I came across was that the Azure Function Core Tools expects a local.settings.json file to be there when building/pu

[2021-09-14 10:00] jnus opened #107 "FA webspace location issue"
Problem:
When provisioning a function app in one resource group, with a dedicated App Service Plan located in a another resource group, the function app will get the webspace assigned corresponding to the ASP. For some reason this action cannot find FA's with seperate webspaces.

How reproduce:
1. Create a ASP in resource group A
2. Create a FA in resource group B, but with the ASP in resource gro

[2021-09-18 14:08] ljtill commented on #81
Came across this issue too with my custom handler (Go), managed to get it working with the following workflow and appsettings...

[code]

And these AppSettings on the function app...

[code]

[2021-09-20 00:06] ss185427 commented on #81
Seems like this deployment uses Azure RBAC for authentication similar to @vicvarros (Jun 25) while the deployments using Publish Profile are still experiencing errors.

[2021-09-21 04:19] #54 closed

[2021-09-22 22:13] #86 closed

[2021-09-23 17:18] balag0 commented on #106
Correct, ZipDeploy will create a readonly packages that gets mounted at runtime at /home/site/wwwroot.
But other dirs are still writable. Ex: /tmp is always writable

[2021-09-24 07:45] erwinsmit commented on #106
Thanks, I worked around it by placing the .next build outside of the wwwroot directory.

[2021-09-24 07:45] #106 closed

[2021-09-24 22:28] patelchandni commented on #104
This is fixed in the latest version v1 (Release v1.4.4)

[2021-09-24 22:28] #104 closed

[2021-10-02 00:14] olguin opened #110 "python function code not updated even when github action function apparently deployed correctly"
I am using the following github action workflow using azure action to deploy Function app:

[code]

The log on github shows:
[code]

But when I go to azure portal/Function App and browse the function code it has not being updated.

One Thing I am noticing is that both SCM_DO_BUILD_DURING_DEPLOYMENT and ENABLE_ORYX_BUILD are being propagated as false but I had both set to true in the function app c

[2021-10-05 15:28] ingoschaal commented on #58
Hi
I also have a similar problem
Deployment from my local machine works fine, function is deployed and can be used.
Deployment fails from GitHub Actions with the error:

`
Run Azure/functions-action@v1.4.0
Successfully parsed SCM credential from old publish-profile format.
Using SCM credential for authentication, GitHub Action will not perform resource validation.
Sucessfully acquired app settings

[2021-10-07 22:31] eprokhor commented on #58
Getting same error:
Error: ENOENT: no such file or directory, stat '/home/site/wwwroot/node_modules/.bin/tsc'
An error has occurred during web site deployment.
Kudu Sync failed
\n/opt/Kudu/Scripts/starter.sh "/home/site/deployments/tools/deploy.sh"
Error: Failed to deploy web package to App Service.
Error: Execution Exception (state: PublishContent) (step: Invocation)
Error:   When request Azure r

[2021-10-15 20:25] brenoalvs commented on #79
Same here, my deploy workflow was working 6 days ago and now it's broken.
I did not change anything on the workflow file or Azure

[2021-10-26 13:33] clintnetwork opened #112 "Automatic deployment failed"
Hi,

You forget to set `include-prerelease: true` in your pre-build deployment file.

Otherwise I get this error:
[code]

Thanks

[2021-11-02 12:31] NoNameProvided commented on #81
Hi @kanika1894!

You can find a redacted deployment log here: [redacted-azure-failed-deployment.txt](https://github.com/Azure/functions-action/files/7460467/redacted-azure-failed-deployment.txt) (only removed the package and project name).

[2021-11-14 22:21] jbpaux commented on #94
+1 would be great to have it implemented :)

[2021-11-16 21:21] kimj04 opened #113 "Unable to deploy function app to azure. Getting 'Internal Server Error (CODE: 500)'"
I am trying to deploy function app to the Function App service in Azure. I am getting this error.

Successfully parsed SCM credential from old publish-profile format.
Using SCM credential for authentication, GitHub Action will not perform resource validation.
Successfully acquired app settings from function app (with SCM credential)!
Will archive . into /home/runner/work/_temp/temp_web_package_797

[2021-11-17 07:59] NoNameProvided commented on #81
Bump, the issue is not idle, but waiting for feedback from maintainers.

[2021-11-19 00:48] patelchandni commented on #113
@kimj04 I see you are using v1.4.3 which had this bug. Please switch to v1 for the latest version that has this fix.

[2021-11-19 00:49] #113 closed

[2021-11-19 16:38] patelchandni commented on #105
@johnkors On creating new workflow, version '6.0.x' will be added by default depending on app version. For existing workflow, you can update the environment variable to '6.0.x' if your app is now upgraded to .NET 6.0. Please try and let us know.

Here is an example of the line in workflow:

env:
  DOTNET_VERSION: '6.0.x'

[2021-11-21 10:53] Choonster commented on #52
I'm also seeing this permissions issue with Playwright. Zipping the app's publish output with the `zip` command preserves the file permissions, but these are lost after publishing to Azure (Linux Consumption plan). I'm seeing this in my [real app](https://github.com/Choonster/catalogue-scanner/tree/net6-update) and [this basic test app](https://github.com/Choonster/azure-functions-playwright-deplo

[2021-11-22 15:13] #105 closed

[2021-11-22 15:17] patelchandni commented on #112
Thank you for the feedback. It is documented here: https://github.com/actions/setup-dotnet. This version is now released, but noted for pre-release versions in future.

[2021-11-22 15:17] #112 closed

[2021-11-23 23:57] horihiro commented on #52
I might understand the root cause of this issue.
The input parameter `publish-profile` of this GitHub Action should not be used for the Linux Consumption plan if executable permission needs to be preserved.

The parameter makes deployment method `ZipDeploy` ([these lines](https://github.com/Azure/functions-action/blob/40721ca62b6029d5b3afa0582b07c429e48e4207/src/handlers/contentPreparer.ts#L188-L1

[2021-11-25 05:24] horihiro commented on #81
I think https://github.com/Azure/functions-action/issues/52 is the same issue as this.

This issue seems to be due to `ZipDeploy` of [KuduLite](https://github.com/Azure-App-Service/KuduLite), which is used if `publish-profile` is specified ([these line](https://github.com/Azure/functions-action/blob/40721ca62b6029d5b3afa0582b07c429e48e4207/src/handlers/contentPreparer.ts#L188-L191)).
As long as I

[2021-11-27 14:08] Choonster commented on #52
@horihiro Thanks, using `azure/login@v1` instead of the `publish-profile` input worked; my app was able to run Playwright.

(For reference, [this](https://github.com/Choonster/catalogue-scanner/commit/5c87d29d9d8c79c37f3a83a0adfe7453764bbe91) is the change I made)

[2021-12-03 18:07] patelchandni commented on #107
@jnus The function app and the app service plan have to be under the same resource group. Please refer this article: https://docs.microsoft.com/en-us/azure/app-service/app-service-plan-manage#move-an-app-to-another-app-service-plan

[2021-12-03 18:07] #107 closed

[2021-12-03 18:19] jnus commented on #107
@patelchandni  - so this is a limitation for the action right? We've been running shared ASP's in central ressource groups and decentralized function apps ( and web apps for that matter) for years and deploying to them. The article mentioned describes the boundaries for keeping resources, in this case app service plans, in the same webspace in order to access e.g. uploaded tls certificates etc - n

[2021-12-03 20:20] patelchandni commented on #81
Current behavior when deploying through this GitHub Action is as follows:
1. If using publish profile, then deployment will be done by ZipDeploy, for which app setting WEBSITE_RUN_FROM_PACKAGE needs to be removed only in case of Linux Consumption app.
2. If using RBAC, then deployment will be done by setting WEBSITE_RUN_FROM_PACKAGE = blob storage URL that contains latest deployment zip only in ca

[2021-12-03 20:20] #81 closed

[2021-12-06 06:07] ss185427 commented on #81
The WEBSITE_RUN_FROM_PACKAGE property had to be deleted earlier too otherwise deployment (using publish profile) fails. After deleting the WEBSITE_RUN_FROM_PACKAGE property, deployment succeeds but the actual function can't be run due to other issues as mentioned in previous comments.
The issue with custom handlers not working on Linux consumption plans still exists, it is still failing with error

[2021-12-06 06:11] horihiro commented on #81
@ss185427
Please try to set `WEBSITE_MOUNT_ENABLED` to `0`.

[2021-12-06 07:34] ss185427 commented on #81
Thanks @horihiro , that did the trick.

Can a check be added for having `WEBSITE_MOUNT_ENABLED` set to `0` similar to the current check for deleting `WEBSITE_RUN_FROM_PACKAGE`?

[2021-12-06 07:46] horihiro commented on #81
I'm not the owner of this repository.

@patelchandni could you please check @ss185427 's feedback?

[2021-12-12 03:22] horihiro commented on #52
The original issue is due to the deployment method (ZipDeploy or Run From Package).

[2021-12-12 03:22] #52 closed

[2021-12-16 01:49] ryanfollmer opened #115 "Node Functions App Deploy fails - Internal Server Error (CODE: 500)"
Created a new Azure Function App today on Windows using a consumption plan and am using Azure/functions-action@v1 in our GH action to deploy a nodejs app (12.x). The first deploy worked just fine. We were able to test the deployed function and it was working. We are using WEBSITE_RUN_FROM_PACKAGE = 1 in our application settings.

However, any subsequent deployment attempt fails.

![image](https://

[2021-12-29 20:13] patelchandni commented on #115
Hi @ryanfollmer, I'm looking into this issue and have few questions to start. Is this an on-going issue or one-time occurrence? What was the time period between the 2 deployments? Did you try to redeploy?

[2022-01-07 16:42] ryanfollmer commented on #115
@patelchandni This is an on-going issue unfortunately.

The time period between the 1st and 2nd deployments was approx 2 hours.
We did try to deploy again a few hours after the 2nd deploy and it still failed with the same 500 error.

We're able to deploy using Azure extensions in VS Code. But we're unable to do that with our CD process in GitHub Actions.

[2022-01-07 17:04] patelchandni commented on #115
@ryanfollmer I noticed you said it's a Windows on consumption plan, but in the template it declares "runs-on: ubuntu-latest" i.e. Linux. Please clarify whether the function app is on Windows or Linux?

[2022-01-07 18:21] ryanfollmer commented on #115
@patelchandni Yes, the function app is running on Windows in Azure.

[2022-01-07 18:45] patelchandni commented on #115
@ryanfollmer please update your template accordingly. Here are examples for Function app on Windows: https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=javascript#deploy-the-function-app

[2022-01-19 18:05] #79 closed

[2022-01-21 23:01] #115 closed

[2022-02-02 15:39] Michaelvsk opened #116 "Deployment fails from time to time as the actions fails to find the function App"
Hi,
I am deploying a dotnet-isolated function app using .NET 6 and from time to time the deployment fails with the following error
[code]

I am using RBAC authentication via `azure/login@v1`. The service principal has contributor permission on the whole subscription.
When I use _Re-run all jobs_ for the workflow run, then deployment usually works fine.

I am deploying the function app via terrafor

[2022-02-03 05:49] horihiro opened #117 "Is not PowerShell function on Linux supported yet?"
Currently, PowerShell function on Linux is GAed on Azure Functions runtime v4.
https://azure.microsoft.com/ja-jp/updates/generally-available-powershell-on-linux-os-in-azure-functions/

But this action [throws an error](https://github.com/Azure/functions-action/blob/master/src/handlers/resourceValidator.ts#L257-L259) when the function app is PowerShell on Linux.

[2022-02-03 10:34] Michaelvsk commented on #117
And the [error message](https://github.com/Azure/functions-action/blob/2075fff27b0c048b05c1058147a55790565bc63a/src/handlers/resourceValidator.ts#L261) seems to be a Copy&Paste error and says `Windows` would not be supported.

[2022-02-04 16:23] msjonker commented on #39
Any updates on this? This is still not working for me for a Linux Consumption plan. I looked at the deployment logs before they disappeared and it seemed like the package that was being generated was pretty much empty:
[code]

To get around this issue, I resorted to zipping my project myself and then deploying the zip using:
[code]
This works great.

[2022-02-18 21:09] primenumsdev commented on #58
I just faced with the same error:

[code]

I am using Linux with custom runtime and consumption plan.

The workaround is to use RBAC creds instead of PublishProfile.

https://github.com/Azure/functions-action/blob/master/src/handlers/contentPreparer.ts#L188

There is in readme how to use Service Principal creds -> https://github.com/Azure/functions-action#using-azure-service-principal-for-rbac-as-

[2022-03-03 15:14] jonas-lomholdt commented on #116
I'm also getting this. The function app is there, but it breaks during deployment

[code]

[2022-03-03 15:14] jonas-lomholdt commented on #116
Redeploying it worked though. But then I hit the same issue in the next environment (test -> prod)

[2022-03-09 10:37] Michaelvsk commented on #116
To bypass the issue I am querying the publish profile via az CLI for now. Here's an example:

[code]

[2022-03-12 16:48] Joaolfelicio commented on #116
Had the same issue, deleting the functions and re-running the pipeline did it, not the best solution in any case..

[2022-03-22 21:28] aaronadamsCA opened #119 "Expensive failed runs with no error messages"
This action caused our CI pipeline to hit its billing limits because it started failing, with each failure using 6 hours (!) of billable time while logging no useful information to help debug.

The relevant part of the raw logs:

[code]

Since we're fleeing Azure for greener pastures, I've simply disabled all builds.

I think this might have happened because the action was trying to deploy using a

[2022-03-23 09:54] hholst80 opened #120 "Azure function action really slow"
The Set up of the following job takes 1:35 MIN.

[code]

The deployment takes 23 seconds.

All in all it takes 2 minutes to deploy 200 KB of code to azure functions. That's just ridiculous long time in a CI/CD pipeline.

![image](https://user-images.githubusercontent.com/6200749/159671515-8d9cfee9-6627-4ca1-9686-7018d78daa64.png)

Edit:

It also does not seem to be related to container vs. non con

[2022-04-03 18:20] tinuoommen opened #122 "Action stuck indefinitely on deploy"
While deploying through the azure function deploy action - https://github.com/marketplace/actions/azure-functions-action - the action is stuck indefinitely. It is able to establish connectivity to the Function App as you can see from the below screenshot, but then the action is stuck until I finally have to cancel it.

![github-fn-error](https://user-images.githubusercontent.com/102921333/16144208

[2022-04-11 19:58] patelchandni commented on #94
AzureWebJobsStorage is used for deployment artifacts when using server-side build in Linux Consumption, and if you enable this, you will need to deploy via [an external deployment package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#using-website_run_from_package--url).

[2022-04-11 19:58] #94 closed

[2022-04-11 23:16] patelchandni commented on #39
Please ensure that the OS of GitHub Actions (ubuntu-latest for Linux or windows-latest for Windows) equals that of Azure Functions. Example:
[code]
There are 2 ways to deploy on Linux Consumption plan:
1. If you want to deploy run from package with url for function apps on Linux Consumption Plan then please use using [RBAC authentication](https://github.com/Azure/functions-action#using-azure-servi

[2022-04-11 23:16] #39 closed

[2022-04-12 20:13] #58 closed

[2022-04-13 22:31] patelchandni commented on #117
Thank you for reporting, this is covered in PR: https://github.com/Azure/functions-action/pull/123

[2022-04-13 22:31] #117 closed

[2022-04-13 22:31] patelchandni commented on #77
This is covered in PR: https://github.com/Azure/functions-action/pull/123

[2022-04-13 22:31] #77 closed

[2022-04-13 22:38] patelchandni commented on #119
@aaronadamsCA was this a one-time occurrence? Unable to recreate it with expired publish profile as the action exits elegantly.

[2022-04-13 23:28] patelchandni commented on #120
Thank you for feedback. The "Set up" is not controlled by this action. Please add any issues related to that step to Github's feedback/questions https://github.com/github/feedback/discussions

Please note: the time taken for deployment will not scale linearly based on file size. Just because a 200kb file took 23 seconds does not mean a 100x file (20 mb) will take 2,300 seconds (38 minutes). It'll

[2022-04-13 23:29] #120 closed

[2022-04-21 09:55] hholst80 commented on #120
Closing the issue won't make the problem go away. Only the user.

[2022-04-22 10:10] pjung-bosch commented on #122
I am experiencing the same issue. The action is stuck after a successful deployment from a self-hosted runner. In my case, it is a linux function app.

[2022-04-23 17:42] Royston-Shufflebotham-i2 commented on #122
I'm experiencing the same issue, and it's quite possible that issue #119 is also the same issue.

I did a bit of investigation by adding lots of debugging statements to a fork and managed to track the problem down...

The problem seems to be an infinite retry bug in an old version of `typed-rest-client` (pulled in via `azure-actions-webclient`) .  It was fixed some time ago but this action is stil

[2022-04-25 18:27] patelchandni commented on #122
@Royston-Shufflebotham-i2 Thank you for investigating and creating the PR. Due to set up requirements, I have created a new PR #126 based on your PR to run E2E tests cases.

[2022-05-04 06:00] Michaelvsk commented on #116
I am confused, too and don't understand why this issue has been closed. I do understand that the error seems to come from a library used here. But as long as the library isn't fixed and this action not upgraded to use the fixed version, I see no reason to close this bug.

I would even contribute to the library but there are PRs open since 2020 so I fear a patch wouldn't be picked up anytime soon.

[2022-05-09 21:26] Royston-Shufflebotham-i2 commented on #122
Issue isn't idle. It's awaiting a review of PR #126.

[2022-05-13 19:09] ldenslow opened #130 "Allow single function deployment without overwriting all existing functions"
We have multiple functions in the same repo and the functions each have a yml file to handle scanning/deploying.  When we deploy function #2, it overwrites function #1 - we are struggling how to handle deploys of multiple functions in the same git repo to the same azure publishing profile - let us know if this action can be utilized without overwriting the functions already deployed?

[2022-05-16 15:18] patelchandni commented on #122
@Royston-Shufflebotham-i2 the PR was merged and released. Please test and let us know your feedback. Thank you.

[2022-05-16 15:20] patelchandni commented on #119
@aaronadamsCA a PR was merged and released which should fixed this issue. Let us know if the issue is still existing.

[2022-05-20 16:17] #122 closed

[2022-05-23 20:36] patelchandni commented on #130
This GitHub action is applied to the whole repo, so all functions in it will be affected if any changes were made.

[2022-05-24 21:45] ldenslow commented on #130
Ok, thank you for your reply.  We chatted with Microsoft on this as well and received the direction to group functions into business categories that make sense to all deploy together.  So now we have a yml per repo and all functions in the repo will get deployed every time, even if only one function is modified.  Not ideal, but since the azure function app is the deployable unit, then we'll have t

[2022-05-24 21:48] #130 closed

[2022-05-27 14:35] runarj opened #131 "Allow Specifying Entry Point Folder"
Currently, AZURE_FUNCTIONAPP_PACKAGE_PATH defines both the root folder that will be loaded into the Azure Function **and** the folder that is the entry point for the function. I have a file structure where the function code requires files higher up than the function root folder.

As an example, consider this structure below, where function refers files in _library_. If I specify  _project/function

[2022-06-21 15:10] ilya-scale opened #133 "Using managed identity to connect to storage account causes the deploy to fail"
The deploy seems to be dependent on `AzureWebJobsStorage`, while it now not the case that it is always set. Using managed identity one can use `AzureWebJobsStorage__accountName` and provide only the name.

Using RBAC authentication for deploy in this action one can have access to that storage account so no need for connection string.

I am not sure if this is a bug or a feature request, but it is

[2022-06-27 15:22] Tbohunek opened #134 "Help request: how to use behind proxy"
Hey, does/should this action work behind Proxy on self-hosted runner? How to make it work?
Also, does it use http instead of https?

Thanks for help/guidance/confirmation!

[2022-06-27 15:44] Tbohunek commented on #122
We have actions version 1.4.6 and yet we still have this issue. Why could that be?

[2022-06-27 16:39] Royston-Shufflebotham-i2 commented on #122
@Tbohunek  The problem I had was that the Azure deployment was failing due to my configuration errors, but rather than reporting that failure correctly, the action had hardcoded an old version of `typed-rest-client` which hung when it experienced errors.

[2022-06-27 17:24] Tbohunek commented on #122
@Royston-Shufflebotham-i2 interesting. Would you be able/willing to tell more about these config errors you made?
We ain't giving it much:
[code]

But we run it on self-hosted Github Runner in Azure Vnet with Azure Firewall, which denies it over `Action: Deny. Reason: Host header port 443 mismatch with network port 80` which I fail to understand.
With TCPdump on the host we see `IP actions-runner.

[2022-06-27 21:43] Royston-Shufflebotham-i2 commented on #122
"Host header port 443 mismatch with network port 80" sounds like an issue from an HTTP/HTTPS proxy to me. e.g. you're going through a port 80 proxy but attempting to connect to an HTTPS server, thereby providing a port-443-based Host header to the proxy. No idea why. I know nothing about Azure Firewall.

In your situation I would wind things _right_ back from such a complicated deployment and get

[2022-06-27 21:47] Tbohunek commented on #122
Thanks @Royston-Shufflebotham-i2. Github-hosted runner works, so the overall Action is correct.
While we set *_PROXY `env`, traffic is NOT going through proxy - that wouldn't hit Azure Firewall. I don't know why.
Other steps in the job DO go through proxy - they failed without `env` set.

[2022-07-11 11:03] kmagusiak opened #135 "Triggers are not always synced after deployment (consumption plan)"
Hello,

We have migrated from Azure DevOps to using github actions for deployment recently, but after some deployments the functions are not seen in the poral. After clicking on "refresh" button, the functions appear.
![image](https://user-images.githubusercontent.com/1943198/178249074-3bcc943c-a07a-49c9-ae60-bca891a52660.png)

After discussing with Microsoft support, it seems the functions are no

[2022-07-18 16:29] georgekosmidis opened #137 "Error: At PublishContent, AzureWebjobsStorage : Failed to fetch AccountKey or AccountName."
The following error occurs when AzureWebjobsStorage value is a keyvault secretUri

Run Azure/functions-action@v1
  with:
    app-name: myFunctionApp
    package: ./app
    respect-pom-xml: false
    respect-funcignore: false
    scm-do-build-during-deployment: false
    enable-oryx-build: false
  env:
    AZURE_HTTP_USER_AGENT:
    AZUREPS_HOST_ENVIRONMENT:
Using RBAC for authentication, GitHub Ac

[2022-07-25 16:49] patelchandni commented on #135
@kmagusiak are you using RBAC auth or publish profile for this deployment workflow? did you receive any "failed to perform sync trigger" message in the workflow logs?

[2022-07-25 18:25] kmagusiak commented on #135
Hello,

I'm using RBAC auth (using an enterprise application user).

Here are the logs (some settings masked), on line 64, you can see the call is happening without any errors. And yet, the triggers are not synced.

[code]

[2022-07-27 17:10] #133 closed, assigned to nobody

[2022-08-02 16:35] nerddtvg opened #144 "Unable to Find Function App with Multi-Subscription SPN"
It seems when the service principal has multiple subscriptions available, the function app is not found if it is not in the default subscription.

The action should search all subscriptions, support specifying a subscription ID, or have the documentation state the limitation and workaround with `az acount set --subscription`.

[2022-08-07 15:01] middiu opened #145 "Dotnet Az Function not working after deployment through Github Action"
Hi Guys,

I'd need your help to understand what is wrong with my Github Workflow.

I have a dotnet  6 Az Function project that has been running for weeks. Before I was using Azure DevOps Pipelines for deployment and everything was working fine. Now I migrated my repo to Github and I'm trying to deploy the app using Github Actions.

The issue is when I deploy the Function App from Github, the actio

[2022-08-12 18:47] patelchandni commented on #144
@nerddtvg Did you create service principle using the recommended steps in [README](https://github.com/Azure/functions-action/blob/patelchandni/validation/README.md#using-azure-service-principal-for-rbac-as-deployment-credential )?

[2022-08-12 18:54] patelchandni commented on #145
@middiu Here is a reference template for steps before functions-actions: https://github.com/Azure/actions-workflow-samples/blob/master/FunctionApp/windows-dotnet-functionapp-on-azure.yml

[2022-08-12 18:55] #134 closed, assigned to nobody

[2022-08-12 21:15] nerddtvg commented on #144
@patelchandni These are existing service principals that have defined `subscriptionId` values in the JSON already as required by other tasks that also only search the default subscription. I can't change that value. Hence why I think it would be ideal if this task (and those others) allowed us to specify a subscription ID or search across all available subscriptions if that is provided. The simple

[2022-08-15 08:06] middiu commented on #145
This is exactly where I started from, and the issue was still there.

Any idea?

[2022-08-15 13:30] akbast opened #147 "Linux Consumption Function app sync trigger fails with RBAC auth when WEBSITE_RUN_FROM_PACKAGE is already added with new URL"
Hello,

When we try to deploy our node function we are getting following error:

[code]

When I check the WEBSITE_RUN_FROM_PACKAGE Parameter in Azure Portal, I see that the parameter is updated. Removing WEBSITE_RUN_FROM_PACKAGE from function and redeploying works.

Technical details:
- node function
- linux
- RBAC Deployment
- consumption plan

Any Idea, what could be wrong?

Cheers

[2022-08-15 14:40] patelchandni commented on #135
A fix for this issue is added in this PR: https://github.com/Azure/functions-action/pull/148

[2022-08-15 19:25] patelchandni commented on #147
A fix for this issue is added in this PR: https://github.com/Azure/functions-action/pull/148
@akbast Please test and let us know if the problem still exists.

[2022-08-15 19:25] patelchandni commented on #135
@kmagusiak Please test and let us know if the problem still exists.

[2022-08-17 06:53] akbast commented on #147
I have tested with the latest version v1.4.7 of the action and the problem still exists.

[2022-08-17 07:11] akbast commented on #116
@patelchandni any news on this?

[2022-08-17 12:08] binaryPUNCH opened #150 "Unable to deploy functions (Python 3.9 Linux Consumption Plan)"
Hello. We have issues deploying from GitHub Actions with this runner. Python 3.9 Linux Consumption Plan.

When we run `func azure functionapp publish alzvendingmachinedev --python` locally we are able to successfully deploy and see 5 functions on the Portal within the Function App.

However, when we deploy with this runner (latest v1.4.7) all functions get deleted and never reappear. The API call

[2022-08-17 15:04] patelchandni commented on #150
@binaryPUNCH Please try to deploy with following paramters:
scm-do-build-during-deployment: true
enable-oryx-build: true

[2022-08-17 16:39] binaryPUNCH commented on #150
Hi @patelchandni. Thanks for the suggestion! Unfortunately, we get the same issue. And the logs look identical to my original post.

[2022-08-17 17:03] patelchandni commented on #150
Hey @binaryPUNCH, Use publish profile (not RBAC) along with those parameters.

[2022-08-17 20:03] binaryPUNCH commented on #150
Tried again with publish profile. Unfortunately the same outcome. More logs though.

[code]

And then following the deploy logs link: [logs.txt](https://github.com/Azure/functions-action/files/9365753/logs.txt)

Any more ideas?

[2022-08-17 20:19] binaryPUNCH commented on #150
It is interesting that Application Insights shows the `OperationNotFound` exception "Unable to match incoming request to an operation.". When I deploy from local dev the exact same API POST request succeeds without `OperationNotFound` exception.

I can actually tell now that on the Azure Portal, with your suggestions @patelchandni, I can now see my 5 functions within the Function App. That seems l

[2022-08-22 08:50] binaryPUNCH commented on #150
Still struggling. Any ideas from anyone?

[2022-08-22 14:20] #135 closed

[2022-08-23 06:02] adukstad commented on #147
Same for us.

Technical details:
* .net 6
* linux
* RBAC Deployment
* consumption plan

[2022-08-30 13:26] Duchynko commented on #150
It turned out that the `OperationNotFound` error was not related to the issue - it was caused by a default health check created by Application Insights.

**However, the deployment issue described by @binaryPUNCH still persists. After deployment, functions are not displayed in the portal and the API Management can not reach them.**

This is the deployment config
[code]

Debug logs: https://gist.git

[2022-08-30 13:28] Duchynko commented on #150
Looks very similar to https://github.com/Azure/functions-action/issues/110

[2022-08-31 13:04] kmagusiak commented on #135
I just got back from holidays and tested it on our side. The isssue seems solved correctly.

Thank you!

[2022-09-02 17:28] melzayet opened #153 "RBAC auth type with GitHub Open ID Connect"
As "functions-actions" already supports RBAC, is logging to Azure through GitHub Open ID a supported flow?

For example, app service deploy GH action does document the support for Open ID:
https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=openid

Basically,  an Azure login action will use an SP following Open ID connect flow, then web app deploy action will use that SP

[2022-09-06 15:05] Cuahchic commented on #147
We are also suffering with this issue on the latest version of this action.

[2022-09-09 10:40] jannisrelakis commented on #116
This is still an issue. What about handling it instead of having the bots close it?

[2022-09-09 10:42] jannisrelakis commented on #116
That didn't fix it for me. Thanks for the snippet though, I am using it regardless.

[2022-09-09 14:17] patelchandni commented on #153
Hey @melzayet, the support you are asking for is under a separate task: Azure/login@v1. So, that task will have same behavior across all workflows. Here are some samples:
1. https://github.com/Azure/login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-powershell-windows
2. https://github.com/Azure/login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-cli-linux

[2022-09-09 14:51] melzayet commented on #153
thanks @patelchandni!  Azure/login@v1 already supports workload federated identity, but I wanted to know if  Azure/functions@v1 would support a service principal that was logged in with  Azure/login@v1 using the workload federated identity model

[2022-09-10 16:57] dkuwcreator commented on #147
Me too, with same technical details

[2022-09-13 16:34] Duchynko commented on #150
Any recommendations or ideas on what could be causing this?

[2022-09-13 17:39] patelchandni commented on #147
Please try to deploy using publish profile instead of RBAC like here: https://github.com/Azure/actions-workflow-samples/blob/a9e4bce81a6c87e56021a480805a521403437eaf/FunctionApp/linux-python-functionapp-on-azure.yml#L46

[2022-09-13 17:44] patelchandni commented on #150
@binaryPUNCH please verify your folder structure at "./" location. Here is the required structure: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python?tabs=asgi%2Capplication-level#folder-structure

[2022-09-13 17:53] patelchandni commented on #150
@Duchynko and @binaryPUNCH, also share your workflow to validate steps before deploy action.

[2022-09-13 18:13] Cuahchic commented on #147
According to my previous attempts using publish profiles, they are not compatible with `WEBSITE_RUN_FROM_PACKAGE` values being set, and these are necessary for package deployments. They must be set to a URL for a Linux consumption plan project according to this documentation: https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#enable-functions-to-run-from-a

[2022-09-19 09:31] Duchynko commented on #150
@patelchandni thanks for the tip. We've found the problem.

As we're hosting our code in a monorepo, we are specifying dynamic `defaults.run.working-directory` per Azure Function/application. We assumed that the `package` argument in `Azure/functions-action` is automatically picking that up but it seems like it doesn't.

After changing the value of the `package` argument from `.` to `./path-to/fun

[2022-09-19 14:52] patelchandni commented on #150
@Duchynko Yes, it is a requirement to provide the path to the directory that has project root. The documentation and sample workflows also state to set it to your project root or else it will default to the repository root.

[2022-09-19 14:52] #150 closed

[2022-09-19 14:58] patelchandni commented on #147
Go to azure portal and remove function app setting "WEBSITE_RUN_FROM_PACKAGE". Once it is successful, then re-deploy using publish profile instead of RBAC like here: https://github.com/Azure/actions-workflow-samples/blob/a9e4bce81a6c87e56021a480805a521403437eaf/FunctionApp/linux-python-functionapp-on-azure.yml#L46

WEBSITE_RUN_FROM_PACKAGE = 1 is not supported on Linux consumption because of which

[2022-09-19 14:58] #147 closed

[2022-09-20 06:09] akbast commented on #147
@patelchandni it works with publish profile, as you described. The problem is, I have bunch of functions in a subscription which should be deployed with GitHub Actions. For achieving this, I have created a SP to use RBAC deployment.

If you have only one function app, this could be a workaround. But for multiple function apps, the RBAC deployment will be definitely necessary.

[2022-09-23 09:20] adukstad commented on #147
Can confirm that it works with publish-profile, but as @akbast mentions: this does not scale well with multiple func-apps.

Will Functionapps on linux consumption plans + RBAC deployment be supported in the future?

[2022-10-04 13:42] reknih commented on #116
I'm experiencing this issue too (unidling)

[2022-10-12 10:10] johan-lindqvist opened #155 "Warning in workflow about nodejs version"
It seems that GitHub is deprecating nodejs12 which gives warnings when using this action in a workflow:
![image](https://user-images.githubusercontent.com/1523775/195315569-2640c056-eca6-40f6-9ee2-4e352603eb52.png)

Warning in text:
[code]

[2022-10-12 12:27] amitak opened #156 "Warning in workflow about `set-output` command"
GitHub has deprecated `set-output` command and will disabled it soon.
Warning seen in the workflow:
```    The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/    ```

[2022-10-17 15:08] jerimiahwelch commented on #155
+1 for this.

[2022-10-20 12:02] Mandur commented on #153
We are also interested in the workload federation identity support

[2022-10-25 06:01] RJJ95 opened #159 "Oryx build keeps failing during deployment"
Hi there,

I've created a Linux Function App in a Consumption plan. I'm currently deploying using a connection to Github. For some reason every time I'm trying to deploy it fails with the following message:

Generating summary of Oryx build
Deployment Log file does not exist in /tmp/oryx-build.log
The logfile at /tmp/oryx-build.log is empty. Unable to fetch the summary of build
Deployment Failed.

[2022-11-01 18:51] patelchandni commented on #156
@amitak This warning is for which action? Is it under functions-action or any other action?

[2022-11-01 18:56] patelchandni commented on #159
@RJJ95 Which language you're using? Also, share your GitHub workflow.
If you already have build step in your pipeline so no need for remote build. So please make these changes and redeploy:
1. Set function app settings to:
      ENABLE_ORYX_BUILD: false
      SCM_DO_BUILD_DURING_DEPLOYMENT: false
2. In the .yaml pipeline for functions-action set:
      scm-do-build-during-deployment: false
      e

[2022-11-03 08:15] t1m0 commented on #159
Hi,

I face a similar issue, trying to deploy a javascript function.
First I tried creating the workflow.yml based on the tutorial provided - since that failed, I discovered I can create the yml in the deployment center of my function in azure.

However both function looked very similar and both fail with the same reason.

Here the link to the .yml generated by azure - https://github.com/t1m0/mast

[2022-11-03 08:22] t1m0 commented on #159
I also tried the settings provided by you - without success

[2022-11-03 09:22] vishalmamidi commented on #156
@patelchandni it is under functions-action, we should be updating `@actions/core` in `package.json` to above `v1.10.0`

<img width="184" alt="image" src="https://user-images.githubusercontent.com/12382861/199684653-f9514bb0-33f4-4f0e-b7ed-35002ae1082f.png">

and in `actions.yml` update to use `node16 `

<img width="134" alt="image" src="https://user-images.githubusercontent.com/12382861/199685291-

[2022-11-03 14:54] patelchandni commented on #159
Hi @t1m0 , your issue is totally different as there is a warning that the AzureWebJobsStorage connection string is not set up for your app: https://github.com/t1m0/master-thesis-data-function/actions/runs/3384044303/jobs/5620557675#step:5:16
Because of this the deployment is failing so add the AzureWebJobsStorage app setting to fix it.

[2022-11-03 17:46] t1m0 commented on #159
Hi @patelchandni ,

thanks - this solved my issue! sorry I overlooked this warning.

[2022-11-03 18:46] patelchandni commented on #155
Updated in latest released v1
https://github.com/Azure/functions-action/releases/tag/v1.4.8

[2022-11-03 18:46] #155 closed

[2022-11-03 18:47] patelchandni commented on #156
Updated in latest released v1
https://github.com/Azure/functions-action/releases/tag/v1.4.8

[2022-11-03 18:47] #156 closed

[2022-11-07 22:35] seniakalma opened #161 "Linux CD of 'Azure/functions-action@v1' fails"
Hi,
I'm trying to set a CD Github action for my Node (Linux) function (by the following [guide](https://learn.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=javascript)), but I keep getting the following error:

Successfully parsed SCM credential from publish-profile format.
Using SCM credential for authentication, GitHub Action will not perform resource validation.

[2022-11-07 22:42] tjcorr commented on #153
I think the question here is if I do an Azure/login step beforehand will this action reuse the credentials there to do the publishing without the need for a user to specify a publish-profile?

[2022-11-08 00:59] tjcorr commented on #153
I just did a test and was able to deploy using OIDC just fine. Here is a sample of my workflow:

[code]

[2022-11-08 13:14] akbast commented on #153
I can also confirm that it is working as described by @tjcorr. But I am facing the issue #116 from time to time

[2022-11-08 14:10] Mandur commented on #153
Yes, the solution from @tjcorr worked for me as well, Thank you !

[2022-11-08 16:08] tjcorr commented on #116
Link to relevant issue: https://github.com/microsoft/pipelines-appservice-lib/issues/56

[2022-11-08 16:20] #153 closed

[2022-11-08 16:24] patelchandni commented on #161
@seniakalma Is it on consumption plan?
Please remove the 'WEBSITE_RUN_FROM_PACKAGE' app setting from the portal and then rerun the workflow again.

[2022-11-14 15:08] #161 closed

[2022-11-16 21:13] #159 closed

[2022-11-17 11:50] jlrosende opened #162 "Timeout when deploy Node/Java Functions in linux Azure function"
When I try to deploy new code to an azure function. With Node or Java code I have a timeout issue.

This happens randomly, and I not able to replicate the error properly.

This is the output of the action. with the error

[code]

[2022-11-18 16:43] patelchandni commented on #162
@jlrosende , Is it Linux Consumption plan? Can you share your GitHub workflow?
Also, Workflows will change for node and java, and they will have different requirements.

[2022-11-18 16:44] #145 closed

[2022-11-22 15:22] jlrosende commented on #162
we are currently deploy node and java funcitons.

The workflow is simple.

pre-steps:
* checkout
* init java/node version

Then

1. Login in to azure
2. Build our app (node npm o java mvn)
3. Update function configurations
4. Upload the code with this action

I share the code from the java app deployment pipeline.

[code]

[2022-11-23 17:26] dgonzalezpulido commented on #162
Same problem here

[2022-11-23 17:36] patelchandni commented on #162
@jlrosende If you are not using Linux consumption plan, then from azure portal set app setting WEBSITE_RUN_FROM_PACKAGE = 1 and redeploy.
In your workflow, you are updating app setting right before deployment, which is not recommended as there should be a wait in between.

[2022-11-24 07:16] brazarb commented on #26
I'm experiencing this issue right now with C# functions, intermittent failures.

I have a mono-repo with 8 function app projects, each project is deployed to it's own function app in azure using a matrix and reusable workflow, no single project is failing, it's random, sometimes all projects deploy successfully.

I'm also considering having a separate workflow per project, this way I can use the `

[2022-11-25 20:26] bkazour opened #163 "Incompatibility with PEP 517"
Hello
When trying to deploy Azure functions that has part of the requirements a python library that uses PEP 517 such as **arcgis**, the build is successful, however the deployment fails with the below error
ERROR: Could not build wheels for **gssapi** which use PEP 517 and cannot be installed directly

I tried to manually install **gssapi** in previous steps by running the below right before depl

[2022-11-28 16:42] patelchandni commented on #162
@jlrosende you can add a step before functions-action to add some wait time:
[code]